[2018-11-27 12:10] mapcentia opened #2 "WatsonC Water level plot throws error then ploting two boreholes. And plot doesn't show anything"
![image](https://user-images.githubusercontent.com/3850918/49080896-68d11c00-f245-11e8-8156-c3a4fe50ef6f.png)

[2018-11-28 07:33] sashuk commented on #2
@mapcentia Fixed in https://github.com/sashuk/watsonc/commit/f48f8188af907eda07926bea2a3d5bc1f091efb0

![measurements](https://user-images.githubusercontent.com/1390758/49135886-fe8ea900-f322-11e8-97d7-850f24bb253d.gif)

[2018-11-28 13:25] mapcentia commented on #2
@sashuk I still don't see any ploting with the new layer:
![image](https://user-images.githubusercontent.com/3850918/49154692-63450600-f319-11e8-9892-14d3010aab01.png)

[2018-11-28 14:52] mapcentia commented on #2
@sashuk see my earlier comments. Didn't reopen

[2018-11-28 15:47] sashuk commented on #2
@mapcentia Could you please set the `v:sensor.sensordata_without_correction` layer to be dynamically loaded?

[2018-11-28 15:54] sashuk commented on #2
@mapcentia The issue is fixed (plots had no access to water level layer data) in https://github.com/sashuk/watsonc/commit/82d47f76c8b772da09eafdeaf55d7c63761fd77f, but carrying aroung the entire water level layer gets to expensive in terms of performance. The issue will be closed after testing with dynamic `v:sensor.sensordata_without_correction` layer.

[2018-11-28 18:01] mapcentia commented on #2
@sashuk done

[2018-11-28 18:56] mapcentia commented on #2
@sashuk The new layer doesn't have that many points but the time series is way bigger.

[2018-11-28 20:49] mapcentia commented on #2
@sashuk It seems to work pretty good with dynamic load.
When creating a plot and you pan/zoom away, so the layer refreshed with new objects, the plot goes away. I guess its because the data, which were plotted in the first place, are no longer in the browser? But is there a way to persist data? Also if you store a snapshot with a viewport far away from the plotted data?

[2018-11-29 10:46] sashuk opened #1 "Implement new design"
Implement new module design according to specifications

[Calypso_logo_Payoff_negativ_2.zip](https://github.com/sashuk/watsonc/files/2628753/Calypso_logo_Payoff_negativ_2.zip)

[Weltklasse_input.pdf](https://github.com/sashuk/watsonc/files/2628747/Weltklasse_input.pdf)

In order to build Vidi with `watsonc` application-wide styling, following commnad should be run:

`grunt --theme=watsonc` or `gru

[2018-11-29 11:07] sashuk commented on #2
@mapcentia You are exactly right! Layer data can be processed following way:
1. keep data until new portion of it is loaded after map extent change (currently used);
2. accumulate all loaded data (used in plots) until page reload, so the plots populated after page load will always have theirs data;
3. accumulate all loaded data (used in plots) and store it in `localStorage`, single data entries wi

[2018-11-29 11:09] sashuk commented on #2
Thanks, the `sensor.sensordata_without_correction` is now dynamic

[2018-11-29 11:32] mapcentia commented on #2
@sashuk We go for option 3

[2018-11-29 11:42] sashuk opened #3 "Store plot data"
Process layer data in following way: accumulate all loaded data (used in plots) and store it in localStorage, single data entries will be updated upon load of these entries; implement controls for clearing the stored data; implement storing of data using the `stateSnapshots` module.

[2018-11-29 11:43] sashuk commented on #2
@mapcentia Got it, thanks! I will close this issue and create new one with the actual feature request then (#3).

[2018-11-29 11:43] #2 closed

[2018-11-30 07:22] sashuk commented on #3
@mapcentia The data caching was implemented (measurements data is stored in the actual plot object, so it is automatically stored in state snapshots and in local `state`) in https://github.com/sashuk/watsonc/commit/0f76465ee285b81e4e7465fca27ed405391b0d42

Right now we can see the time when the measurement data was actually added to the plot, however, the data needs to stay relevant. Could you ple

[2018-11-30 07:25] mapcentia commented on #3
@sashuk Data will change. Especially the new layer, which is updatered within seconds. Its live measurements on water levels.

[2018-11-30 07:27] sashuk commented on #3
@mapcentia Got it, thanks! The automatic data update will be implemented then.

[2018-11-30 09:51] sashuk commented on #3
@mapcentia Right now data can be updated only by manually reloading the vector layer (some kind of constant connection for tracking updates using the WebSockets technology can be developed for `layerTree` later for tracking data updates on server).

Am I correct that for now the update for measurements should be implemented only when the layer is reloaded? In order to update data that is stored on

[2018-11-30 09:56] mapcentia commented on #3
@sashuk On reload of layer is fine. I'll check with the client if something like live data over web socket is necessary

[2018-11-30 10:10] sashuk commented on #3
@mapcentia Thank you!

[2018-12-03 11:41] mapcentia opened #4 "Correction of data in sensor.sensordata_without_correction"
The data in `sensor.sensordata_without_correction` comes from sensors placed outside on fields. Sometimes cows trip over them and alter the height the sensors have over ground level. When a displacement occurs, the time is logged in this table:
https://watsonc-map.gc2.io/api/sql/jupiter?q=SELECT%20*%20FROM%20sensor.sensorlevcorr
The idea is to adjust the following measurements after a displacement

[2018-12-03 13:00] sashuk commented on #4
@mapcentia So, there is some numeric difference between neighbour measurements that is considered to be a **displacement**? And using this numeric value, corrections are proposed to be performed on the client-side?

[2018-12-03 13:04] mapcentia commented on #4
@sashuk No, the displacement is manual detected and logged in the table:
https://watsonc-map.gc2.io/api/sql/jupiter?q=SELECT%20*%20FROM%20sensor.sensorlevcorr
When the WatsonC people see a jump in the plot, they input the date/time in the above mentioned table.
The corrections are proposed to be performed on the client-side.

[2018-12-03 13:21] sashuk commented on #3
@mapcentia Data update (for plot measurements) was implemented in https://github.com/sashuk/watsonc/commit/7350ba9b92b927e29e844d7a69b592e14fac7c49

[2018-12-03 13:21] #3 closed

[2018-12-03 13:22] sashuk commented on #4
@mapcentia Thanks, got it! Yes, it will be implemented

[2018-12-04 06:33] sashuk commented on #1
@mapcentia Could you please check the translation of the following strings:

[code]

[2018-12-04 06:36] sashuk commented on #1
@mapcentia One of the requirements in **General** says that **Placement of projects and time series in the top bar** - what should be done when user clicks **Projects** or **Time series buttons**?

[2018-12-04 06:42] sashuk commented on #1
@mapcentia Could you please comment on these questions:

1. Could you please specify if **Tydligt markering af hvilken ”parameter” man har valgt** means that there should be a button that clears selection of parameters?
2. One of the requirements in **General** says that "Placement of projects and time series in the top bar" - is the **Projects** equal to **State snapshots**?
3. Could you please c

[2018-12-04 07:36] mapcentia commented on #1
@sashuk
Overlap | overlap
Found time series | Fundne tidsserier
units | enheder
Uncategorized | Ukategoriserede
updated at | opdateret
No time series were created yet | Ingen tidsserier er oprettet endnu

[2018-12-04 08:52] sashuk commented on #1
@mapcentia Seems like CORS headers need to be added to the `watsonc.mapcentia.com` host

![cors](https://user-images.githubusercontent.com/1390758/49430028-e87e5e00-f7e4-11e8-9754-6721a1b18c96.png)

@mapcentia
1. Could you please specify if **Tydligt markering af hvilken ”parameter” man har valgt** means that there should be a button that clears selection of parameters?
2. One of the requirements

[2018-12-04 09:22] mapcentia commented on #1
@sashuk the CORS header is OK now. Its was the double header issue returning after a update yesterday.
1) No, but I'm not sure what it means. Let it be for now.
2) Yes.

[2018-12-04 10:13] mapcentia commented on #1
@sashuk Could you move the panels down (67px)
![image](https://user-images.githubusercontent.com/3850918/49434924-a5f15d00-f7b5-11e8-8b64-6a1b7f8ded11.png)

[2018-12-04 10:25] sashuk commented on #1
@mapcentia Thanks a lot for the feedback!

[2018-12-04 12:46] sashuk commented on #4
@mapcentia Could you please specify if the `stationid` in correction data table actually corresponds to the `gid` field of corrected station in table with water level measurements?

Also corrections have date in `2018-09-17 19:31:52+02` format, whenever measurement dates are in `2018-07-25T09:30:58` format. Is it correct to transform correction date to UTC or just ignore the +2 time zone?

[2018-12-04 13:06] mapcentia commented on #4
@sashuk `boreholeno` is `stationid`. I used this alias in the database view, because I believe there has to be a field called `boreholeno`?

[2018-12-04 13:07] sashuk commented on #4
@mapcentia There is such field indeed, thanks!

[2018-12-04 14:12] sashuk commented on #4
@mapcentia Correction has `boreholeno` and `date`. If there are more than one intake for the borehole, do we assume the displacement was occured for both intakes?

Also corrections have date in 2018-09-17 19:31:52+02 format, whenever measurement dates are in 2018-07-25T09:30:58 format. Is it correct to transform correction date to UTC or just ignore the +2 time zone? Right now the correction is pa

[2018-12-04 14:26] mapcentia commented on #4
@sashuk Yes, displacement is for both intakes (intakes in this case are sensors attached to samme station)
I'm not sure if measurement dates are in UTC or CET. But I'm guessing they are in UTC, so let us ransform correction dates to UTC.

[2018-12-04 14:29] sashuk commented on #4
@mapcentia Thanks! Is it okay if some measurements have the exact same time of measurement?

![time](https://user-images.githubusercontent.com/1390758/49448509-044d2880-f814-11e8-9899-f2748dfe3166.png)

Also is the correction `date` always **between** measurements that have displacement between them?

[2018-12-04 15:46] mapcentia commented on #4
@sashuk I'll check the same time isssue. Maybe is OK or it can be in the database VIEWs.
I don't think we can be sure correction is always between. It may be equal, because its manual logged. But its makes no sense to have an  correction equal to a measurement.

[2018-12-04 15:51] sashuk commented on #4
@mapcentia Example: the **35** borehole has 2 corrections available: `2018-08-28 16:18:12+02` and `2018-08-04 21:49:18+02`. The shown demos without and with correction show that two smaller displacements are removed from graph, the biggest one was left, though, as it does not have an assigned correction.

Without correction:

![nocorrection](https://user-images.githubusercontent.com/1390758/494540

[2018-12-04 15:54] sashuk commented on #4
Sorry, I meant `.. always between times of measurement that correspond to measurements that have displacement between them..`

[2018-12-04 17:10] sashuk commented on #4
@mapcentia There are some cases when correction date is between measurement dates. For example, **borehole 34** has a correction with date `2018-08-01 08:20:50+02:00`, but if we look into data for this borehole, there are only times of measurement `2018-08-01T08:20:50` (with value **1320**) and `2018-08-01T09:20:53` (with value **1320000** - huge spike!).

So, in order to catch this case, the chec

[2018-12-04 18:50] mapcentia commented on #4
@sashuk
The first is the logged correction time? And the second the measure time?
`2018-08-01  08:20:50+02:00`
`2018-08-01T08:20:50`
It looks like the logged correction is entered wrongly regarding time zone?

[2018-12-04 18:56] sashuk commented on #4
@mapcentia Yes, however, I think that the time is correct in both cases, as the spike is between 8:20 and 9:20 and the correction is between 8:20 and 9:20 as well (if it was the time zone problem, than the difference will be a whole hour, in this case in it half an hour from 8:20 and half an hour to 9:20).

[2018-12-04 21:26] mapcentia commented on #4
@sashuk 1320 ~ 1320,000 I tkink this is not a displacement but a change in units. I'll ask WatsonC about it

[2018-12-04 22:01] mapcentia commented on #4
@sashuk regarding https://github.com/sashuk/watsonc/issues/4#issuecomment-444118753
Can you check that data point again? I replaced the view which about halved the points in the time series.

[2018-12-05 04:00] sashuk commented on #4
@mapcentia No repeats, thanks!

![time](https://user-images.githubusercontent.com/1390758/49489318-5d08d980-f885-11e8-935d-ea3a5d235179.png)

[2018-12-05 04:42] sashuk commented on #4
@mapcentia The very first correction for the **34 borehole** has following comment "Date must be the first point after the disturbance has occurred. The disturbance is expected to be due to cows" - maybe this correction is invalid from the very beginning, so such comment was left? Other corrections have comment "cows" and are working fine without range checks, so probably range checks are not even

[2018-12-05 07:25] mapcentia commented on #4
@sashuk It seems reasonable, that the first logged entry for **34** is left for sake of the comment. The actual comment is also quite clear about how adjustments dates should be logged

[2018-12-05 07:29] sashuk commented on #4
@mapcentia Al right! Assuming that correction is performed according to rules above, the issue is implemented in https://github.com/sashuk/watsonc/commit/6d8c6c65b7bcb968ce91678efd83aa0678befedb

[2018-12-05 07:29] #4 closed

[2018-12-05 08:00] sashuk commented on #1
@mapcentia Could you please check translations?

[code]

[2018-12-05 08:38] mapcentia commented on #1
@sashuk
Drag and drop measurement to add it to time series | Træk og slip målinger for at tilføje det til tidsserier

[2018-12-05 08:46] sashuk commented on #1
@mapcentia Design was implemented, the complete set of performed actions according to the provided PDF is in the issue description.

[2018-12-05 08:46] #1 closed

[2018-12-05 08:59] mapcentia opened #5 "Adjustments on design"
1. Move breadcrumb to top-bar, so it always visible
2. Move top-bar buttons to round buttons over map.
![image](https://user-images.githubusercontent.com/3850918/49501863-25456600-f874-11e8-808d-90a02503b842.png)

[2018-12-05 09:46] mapcentia opened #6 "Water level should have its own category"
Water level should have its own category called `Vandstand`
![image](https://user-images.githubusercontent.com/3850918/49504904-eebf1980-f87a-11e8-91f4-dc4189319e17.png)

[2018-12-05 13:01] mapcentia opened #7 "Only the first intake is listed in pop-up"
When selecting a borehole with multiple intakes only one intake can bo plotted. In this one a ` Water level (#2)` is missing
![image](https://user-images.githubusercontent.com/3850918/49514980-e7593980-f895-11e8-88f3-81fd1a35faff.png)

[2018-12-05 17:26] sashuk commented on #6
@mapcentia Fixed in https://github.com/sashuk/watsonc/commit/eae9400c659e02f02d011d6a5213f116f2559f66

![intakes](https://user-images.githubusercontent.com/1390758/49531771-fbcd1e80-f8f5-11e8-956e-6a756cb9a926.png)

[2018-12-05 17:27] sashuk commented on #7
@mapcentia Fixed in https://github.com/sashuk/watsonc/commit/eae9400c659e02f02d011d6a5213f116f2559f66

![intakes](https://user-images.githubusercontent.com/1390758/49531771-fbcd1e80-f8f5-11e8-956e-6a756cb9a926.png)

[2018-12-06 04:52] sashuk commented on #5
@mapcentia Could you please specify if secondary map controls should still be left, as the previous design guide suggested leaving only zoom controls (and Time series / Projects buttons)?

![controls](https://user-images.githubusercontent.com/1390758/49562284-cf48ef00-f955-11e8-8b77-d574e184109a.png)

[2018-12-06 05:24] mapcentia commented on #5
@sashuk secondary map controls should still be there. I added some back yesterday bb0ec407a61ba3a7654a85b3d3ff087fa4f5c0b6

[2018-12-06 05:25] sashuk commented on #5
@mapcentia Got it, thanks!

[2018-12-06 05:31] sashuk commented on #5
@mapcentia Style changes were applied in https://github.com/sashuk/watsonc/commit/99c5f74648b7761908e0a91b600622c567b69e3f

![design](https://user-images.githubusercontent.com/1390758/49563533-3cab4e80-f95b-11e8-8126-dd954568cf38.png)

[2018-12-06 05:31] #5 closed

[2018-12-06 13:35] mapcentia opened #8 "PayloadTooLargeError: too many parameters"
When having a lot of plots you'll run into a 413 on the /api/state-snapshots end-point. Can it be send in another form? In a JSON body?
![image](https://user-images.githubusercontent.com/3850918/49587357-e8589c80-f963-11e8-9e37-c233c5221025.png)

[2018-12-07 07:11] sashuk commented on #8
@mapcentia Probably there are certain limitation in the Express configuration (like maximum payload size), currently investigating.

[2018-12-07 08:51] sashuk commented on #8
@mapcentia Could ypu please provide demo access to the `jupiter` database, so the saving of state snapshots can be tested?

[2018-12-11 05:03] sashuk commented on #8
@sashuk Access was provided in email, error was observed

https://github.com/expressjs/body-parser/blob/master/README.md#too-many-parameters

[2018-12-11 09:44] sashuk commented on #8
@mapcentia Fixed in https://github.com/sashuk/vidi/commit/a15eadfe457a190814cc37317a8337e68727957c

[2018-12-11 09:44] #8 closed

[2018-12-18 07:23] mapcentia opened #9 "Enable touch drag in application"

[2018-12-18 12:43] mapcentia opened #10 "In IE11 nothing shows in pop-up, when clicking on a marker"
Is there a work-around?
![image](https://user-images.githubusercontent.com/3850918/50154790-acf69000-02ca-11e9-86b9-e2adbbe1f86a.png)

[2018-12-18 21:40] mapcentia opened #11 "Markers take a long time to render in latest version of Vidi"
When using latest version of Vidi its takes very long time before the application gets responsive again.
Checking out https://github.com/mapcentia/vidi/tree/2018.1 will fix the issue. So I guess its related to some changes in Vidi core and not the extension.

[2018-12-19 07:50] sashuk commented on #11
For reference: the problem appeared at https://github.com/sashuk/vidi/commit/35cbf28000ab19dce19722dd32853d2adb56e51d

[2018-12-19 17:22] sashuk commented on #10
@mapcentia Fixed in https://github.com/sashuk/watsonc/commit/f24f9faaee02e07e124ceb254faef9615c8182fc

IE11 does not support `Object.values()`, so this command was replaced

[2018-12-19 17:22] #10 closed

[2018-12-19 17:46] sashuk commented on #11
The reason why `watsonc` started taking too much time to load is that after https://github.com/sashuk/vidi/commit/35cbf28000ab19dce19722dd32853d2adb56e51d it actually started working right: before merge when `loadDataInTable()` was executed every time, the `$(el).bootstrapTable("load", data);` was silently crashing as it could not find the node. After the merge nodes for table view appeared, so Bo

[2018-12-19 17:46] #11 closed

[2018-12-19 17:47] sashuk commented on #9
@mapcentia Could you please specify if this issue is same as https://github.com/sashuk/vidi/issues/228?

[2018-12-20 06:26] mapcentia commented on #9
@sashuk here its draging the measurement to a plot. In Vidi core its sorting in layer tree

[2018-12-20 06:27] sashuk commented on #9
@mapcentia Thanks a lot!

[2018-12-20 13:28] sashuk commented on #9
@mapcentia Implemented in https://github.com/sashuk/watsonc/commit/53630003b645119b2fbb425d47306748b8dca5f4

![ezgif com-optimize](https://user-images.githubusercontent.com/1390758/50287532-019e3480-049e-11e9-9cd8-476cd0a43c60.gif)

[2019-01-02 11:49] mapcentia commented on #9
@sashuk I can't get touch drag in WatsonC to work. Could you test?

[2019-01-07 13:23] sashuk opened #12 "If watsonc is started without layers in URL, then app is not loaded"

[2019-01-07 14:01] sashuk commented on #12
@mapcentia URLs for testing:
**1**
https://vidi.alexshumilov.ru/app/jupiter/chemicals/?tmpl=watsonc.tmpl#osm/16/9.3883/56.4741/
**2**
https://vidi.alexshumilov.ru/app/jupiter/chemicals/?tmpl=watsonc.tmpl#osm/16/9.3883/56.4741/chemicals.boreholes_time_series_without_chemicals,v:chemicals.boreholes_time_series_with_chemicals,v:sensor.sensordata_without_correction

Fixed in https://github.com/sashuk/

[2019-01-07 14:01] #12 closed

[2019-01-07 14:26] sashuk commented on #9
@mapcentia Could you please specify what device does not support drag and drop?

Current `watsonc` codebase was tested in **iPhone 6** (iOS; Google Chrome, Safari), **Nexus 6** (Android; Google Chrome) and **Samsung Galaxy S7** (Android; Google Chrome, Firefox).

[2019-01-08 09:58] mapcentia commented on #9
@sashuk Its working in IOS. But there is no visual indication of you're a draging an element.

[2019-01-08 13:24] sashuk commented on #9
@mapcentia Got it, thanks! The visual indication will be implemented.

[2019-01-08 14:26] sashuk commented on #9
@mapcentia Could you please specify if visualization below is acceptable?

![drag](https://user-images.githubusercontent.com/1390758/50836546-5b817400-1351-11e9-818f-876a5b8a7410.gif)

[2019-01-09 07:57] mapcentia commented on #9
@sashuk Looks alright. I'll present it to the client. Closing

[2019-01-09 08:05] sashuk commented on #9
@mapcentia Reopened this just not to forget to push this change a llittle bit later

[2019-01-09 12:09] sashuk commented on #9
@mapcentia Visualization was added in https://github.com/sashuk/watsonc/commit/3ba142df87e367a4612727d586e616e2358fadf9

[2019-01-09 12:09] #9 closed

[2019-01-23 10:31] mapcentia opened #13 "Roll back the correction of data"
The correct of data is now done before the data are inserted. So could you remove the correction part from the code agian?
https://github.com/sashuk/watsonc/issues/4

[2019-01-23 10:49] sashuk commented on #13
@mapcentia Implemented in https://github.com/sashuk/watsonc/commit/2574b9b859ec3157e459be40a44b5ae0388c00ea

[2019-01-23 10:49] #13 closed

[2019-01-30 08:46] mapcentia opened #14 "Split dialog in two views with independent scroll bars"
When having a lot of measurements you may need to scroll down:
![image](https://user-images.githubusercontent.com/3850918/51969068-c1a27800-2473-11e9-9931-d18133c2bb81.png)
The Plot widget will then disappear out of the view:
![image](https://user-images.githubusercontent.com/3850918/51969186-134b0280-2474-11e9-8932-9f734a342f27.png)
Solultion: Split the view in two with independent scroll bars

[2019-01-30 08:49] mapcentia opened #15 "Link on borehole number in dialog"
Create a link on the pop-up dialog for `chemicals.boreholes_time_series_with_chemicals`
![image](https://user-images.githubusercontent.com/3850918/51969334-6c1a9b00-2474-11e9-99ae-1f15d89342d1.png)
Link template: http://data.geus.dk/JupiterWWW/borerapport.jsp?dgunr={$boreholeno}

[2019-01-30 13:07] mapcentia opened #16 "Store selected chemical in State"
Store selected chemical in State.
![image](https://user-images.githubusercontent.com/3850918/51983153-3daeb700-2498-11e9-8bad-8caddc721463.png)

[2019-01-30 13:11] mapcentia opened #17 "Plots has to be updated with current data, when Snapshot is applied"
As for now I believe the Snapshot stored plots also stores s snapshot of the data?
Some data er rapidly coming in and a restored Snapshot should show current data.

[2019-01-30 13:14] mapcentia opened #19 "Show plots tab when state snapshot is recreated and numbre of plots > 0"

[2019-01-30 13:22] mapcentia opened #18 "Mark which boreholes are used in plots"
When using a measurement from a borehole in a plot, then "highlight" it on the map.

Could we use Leaflet Circle Markers instead of Marker icons in the vector layers? This is related to https://github.com/sashuk/vidi/issues/204, but it may be possible to change from Circle Marker to Marker when choosing a measurement?

[2019-01-31 04:37] sashuk commented on #18
@mapcentia Sure, it is possible! So, when the measurement is chosen (the panel with available measurements and plots is shown) its marker should be changed to the Circle Marker one?

[2019-01-31 07:02] mapcentia commented on #18
@sashuk The idea is not to use the water drop shaped markers at all, because it takes more ressources in the browser. So the water drop shaped markers should just be plain CircleMarkers (svg). When a borehole is used in a plot, when the CircleMarker should change style (color and size).

[2019-01-31 07:04] sashuk commented on #15
@mapcentia Implemented in https://github.com/sashuk/watsonc/commit/bcb1853f186a7a2ea26709199d2545ecdfd085f8

![links](https://user-images.githubusercontent.com/1390758/52037230-5dfa7680-2569-11e9-8233-9c2e692af2a7.gif)

[2019-01-31 07:04] sashuk commented on #14
@mapcentia Fixed in https://github.com/sashuk/watsonc/commit/609d708cacaf759f6a6e124f873a5fe9c4339efa

![scroll](https://user-images.githubusercontent.com/1390758/52037209-51761e00-2569-11e9-8fef-58399ee58c1d.gif)

[2019-01-31 07:04] #14 closed

[2019-01-31 07:08] sashuk commented on #18
@mapcentia So, am I correct that if the point (chemicals or water measurements layer) is used at least in one plot, then it changes color? If it is not used, then it stays default blue color of the CircleMarker?

[2019-01-31 08:44] mapcentia commented on #18
@sashuk Yes. But of course it still have to change to the two color split icon when selecting a chemical:
![image](https://user-images.githubusercontent.com/3850918/52042169-c3843e00-253c-11e9-8417-42a842ebca26.png)

[2019-02-01 14:58] sashuk commented on #17
@mapcentia Yes, the `MenuComponent` stores the measurements data in snapshots, which are lately stored in state, so it is possible to track if the snapshot data became stale. The update tracking will be implemented.

https://github.com/sashuk/watsonc/blob/a2a1562e2a3afeee2f2dd34de59df4abcf8c9145/browser/components/MenuComponent.js#L101

[2019-02-01 15:57] sashuk commented on #19
@mapcentia With the latest changes in https://github.com/sashuk/vidi/issues/238, Vidi knows what tab is currently active and this tab can be activated. However, in order to create the snapshot the `stateSnapshots` tab has to be opened, so whenever the state snapshot is created, the active tab is always `stateSnapshots`. So, could you please tell if this issue us about remembering the active tab be

[2019-02-02 12:20] mapcentia commented on #15
@sashuk When the dialog changes (eg. new plot) the link disappear:
![image](https://user-images.githubusercontent.com/3850918/52164156-506df980-26ed-11e9-83ba-636d35480d07.png)
![image](https://user-images.githubusercontent.com/3850918/52164158-5368ea00-26ed-11e9-97c3-46f72ae505b4.png)

[2019-02-04 02:34] sashuk commented on #15
@mapcentia Fixed in https://github.com/sashuk/watsonc/commit/24bc5104918659bc8ea8b17da83b4391aeace10b

![links2](https://user-images.githubusercontent.com/1390758/52187436-710e8e80-2868-11e9-8afa-da9aaf7408f7.gif)

[2019-02-04 02:34] #15 closed

[2019-02-04 05:28] sashuk commented on #16
Solving the **performance** issue along - when any state snapshot is applied or visited via link, the vector layers are fetching 2000 features (the actual features fetch limit) instead of regularly fetching 100-150 ones in a regular mode.

[2019-02-04 06:52] sashuk commented on #16
@mapcentia Implemented in https://github.com/sashuk/watsonc/commit/b1777070090d36ab0fae4ddca97e172f956f7efc

![chemical](https://user-images.githubusercontent.com/1390758/52193886-4e8e6c80-288c-11e9-9b22-2e50204a6fc1.gif)

[2019-02-04 06:52] #16 closed

[2019-02-05 04:02] sashuk commented on #18
@mapcentia Could you please specify if I am correct concerning requirements:
- both vector layers initially are displayed as CircleMarkers of two different colors (chemicals and water measurements). If the measurement presents in at least in one of plots then it has slighlty different representation (the opacity could be `0`, for example);
- when measurement is clicked, the modal is shown and the

[2019-02-05 07:10] mapcentia commented on #19
@sashuk The use case is actually the WatsonC app. The client wants the Plot panel to be open when re-creating a snapshot. So maybe it should just be built into that extension: If there one or more plots are stored in a snapshot, then open the Plot panel.

[2019-02-05 10:21] sashuk commented on #19
@mapcentia Got it, thank you!

[2019-02-06 03:53] sashuk commented on #19
@mapcentia Implemented in https://github.com/sashuk/watsonc/commit/f21e79a8f4ca13cb24c8a308592a11297605a915

[2019-02-06 03:53] #19 closed

[2019-02-07 14:58] sashuk commented on #17
@mapcentia Could you please tell if there is any borehole which is constantly updating to test this issue in real conditions?

[2019-02-08 10:54] mapcentia commented on #17
@sashuk The boreholes from `sensor.sensordata_with_correction` (the blue ones) are updating constantly

[2019-02-08 10:55] sashuk commented on #17
@mapcentia Got it, thanks!

[2019-02-20 05:21] sashuk commented on #17
There are two scenarios when plot data should be updated:
- when the state snapshot is applied and some plots contains stale data;
- when page is refreshed and not stored in state snapshot plots have stale data;

[2019-02-20 07:21] sashuk commented on #17
@mapcentia The syncing of data is implemented in https://github.com/sashuk/watsonc/commit/176b0631a19e268300d93b1db7fa3d2440f2aa58

The **plot**, which is stored in the **state snapshot**, has the measurement location identifier (the borehole identifier, chemical and the intake indexes) and the actual measurement cached data. The synchronization of data is performed every time the vector layers ar

[2019-03-01 13:33] sashuk commented on #18
@mapcentia Implemented in https://github.com/sashuk/watsonc/commit/a44e9c200a28dcdae23435291c895228492ca864

Concerning the performance -the case when all measurements are displayed as SVG icons (same as CircleMarker, as it uses SVG as well) was compared with the case when all measurements are displayed using the regular marker (AwesomeMarker):

Request | SVG (CircleMarker, SVG Icon) | Regular mar

[2019-03-01 13:33] #18 closed

[2019-03-01 13:33] sashuk commented on #17
@mapcentia Having a big number of **time series** open, the update process (when every measurement is checked for staleness by requesting the backend) can take too much time.
Assuming that the state snapshot should be updated only manually, then auto-update (which will be performed being hidden from the user) should not be used (so, the user will not be aware of changes in state snapshot that he h

[2019-03-01 13:33] #17 closed

[2019-03-24 10:06] mapcentia opened #20 "New startup wizard"
General change: The layer tree to the left should be removed.

When Vidi starts the user should be presented with a modal view:
![image](https://user-images.githubusercontent.com/3850918/54877739-c99ee880-4e22-11e9-8f84-22f25e3fba86.png)

For now there should be two options: Start New Project and Open Existing Project.

Start New Project:
![image](https://user-images.githubusercontent.com/3850918/

[2019-03-25 03:14] sashuk commented on #20
@mapcentia Could you please clarify on these issues:
1. What if to display the right chemicals list depending on the layers checked in the left menu? If none of the layers are checked, then selecting the chemical will still enable the chemicals layer (in order to load data);
2. When the chemical is chosen and highlighted, is the modal hidden right away (however, the button at the left corner of th

[2019-03-25 05:56] sashuk commented on #20
@mapcentia For now, the following is implemented:
- the `StateSnapshots` component is refactored in the form of a separate file, so it is re-used in `watsonc` module (https://github.com/sashuk/vidi/commit/62de00bedd3a71c12f9f05a1bce2d119a42e8158);
- the overall modal dialog;

What is left to implement:
- the actual selection of layer and chemical.

![watsonc](https://user-images.githubusercontent.

[2019-03-28 13:37] mapcentia commented on #20
@sashuk

1. The chemical list is a brutto list containing all possible chemicals. So if user choose `sensor.sensordata_without_correction`, which only has "Water level", and pick something like Nitrat, the symbols would just be grey.  But in the future the `sensor.sensordata_without_correction` may have other chemicals. So in that sense both layers are chemical layers. You should not be able to co

[2019-04-01 04:36] sashuk commented on #20
@mapcentia Thank you for the clarification!

[2019-04-02 10:12] mapcentia opened #21 "New "Dashboard" for plots"
Instead of displaying plots in the right side panel, they should be displayed in a "Dashboard", which can be in docked, half extented and full extented mode:
![image](https://user-images.githubusercontent.com/3850918/55394533-cea91980-553f-11e9-81b0-b04307610c03.png)
![image](https://user-images.githubusercontent.com/3850918/55394726-3b241880-5540-11e9-8b23-a28a22f50491.png)
![image](https://user-

[2019-04-02 10:23] mapcentia opened #22 "Single plots should be stored in key/value store"
Currently, the user has to create a snap-shot if plots have to be saved for later use. But this is not flexible enough. We need plots to persist by storing them in the key/value store. So when a plot is created or altered (adding/removing time series) the plot config should be stored.
When Add New (see https://github.com/sashuk/watsonc/issues/21) is used, the user can either create a new plot or c

[2019-04-04 14:34] sashuk commented on #20
@mapcentia Implemented in https://github.com/sashuk/watsonc/commit/548d6fe08b4afa30a581c110098cb905e1d4c89b

![intromodal](https://user-images.githubusercontent.com/1390758/55564004-91a07b00-5729-11e9-9a33-9acf1376f9b7.gif)

[2019-04-06 06:26] sashuk commented on #21
Current progress:

![timeseries](https://user-images.githubusercontent.com/1390758/55665797-c884a700-5877-11e9-9cdc-27d5fa632ae6.gif)

[2019-04-07 18:17] mapcentia commented on #20
![](https://github.trello.services/images/mini-trello-icon.png) [New startup wizard](https://trello.com/c/TTyHnnSH/65-new-startup-wizard)

[2019-04-07 18:18] mapcentia commented on #22
![](https://github.trello.services/images/mini-trello-icon.png) [Single plots should be stored in key/value store](https://trello.com/c/osPhTFng/66-single-plots-should-be-stored-in-key-value-store)

[2019-04-07 18:20] mapcentia commented on #21
![](https://github.trello.services/images/mini-trello-icon.png) [New "Dashboard" for plots](https://trello.com/c/e9ylnN0v/67-new-dashboard-for-plots)

[2019-04-08 02:13] sashuk opened #23 "New style for WatsonC dashboard"
![Web 1920 – 1](https://user-images.githubusercontent.com/1390758/55694471-f2a8a700-59e6-11e9-9f92-8fc0fe34133a.png)

![Web 1920 – 3](https://user-images.githubusercontent.com/1390758/55694472-f3413d80-59e6-11e9-8b68-040c78a7ed31.png)

![Web 1920 – 4](https://user-images.githubusercontent.com/1390758/55694473-f3413d80-59e6-11e9-9fbe-ea3386469363.png)

![Web 1920 – 5](https://user-images.githubuser

[2019-04-08 04:48] sashuk commented on #21
@mapcentia  Implemented in https://github.com/sashuk/watsonc/commit/566dc13fa4c6ee8d5b1b7bbbf1f688191566e2a4 and https://github.com/sashuk/watsonc/commit/4c746c59348a6812e824bbbb6646e3cfe41ce55d

![dashboard](https://user-images.githubusercontent.com/1390758/55699237-7751f000-59fc-11e9-8f11-c1eb709e855d.gif)

[2019-04-08 04:48] #21 closed

[2019-04-08 04:50] sashuk commented on #22
@mapcentia Am I correct that now there is no need to carry plot data in state snapshots? The `plotId` will correspond to the plot in key-value storage, where all the data will be stored as well, so the state snapshot will keep only plot identifiers.

Also, is it correct that when the single plot is created, it can be selected from any of the plots stored before, so any plot basically belongs to an

[2019-04-15 05:54] mapcentia opened #24 "New profile drawing tool"
We need a tool for drawing a line and create a buffer. The buffer geometry should be sendt to a yet undefined 3. party end-point, which will create and return a Plot.ly object. The object should be plotted in the new dashboard and should be treated as the boreholes plots. The line and buffer should be stored with the plot object in snapshots.

The tool should work pretty much as the query tool:
![

[2019-04-15 06:01] mapcentia commented on #22
@sashuk Yes, you're correct about the first one.

Users are always signed in this application. We have a 3. party dashboard where users sign in using the Vidi API and when the users are redirected to Vidi, where a session is started. So we must use the Vidi session to manage plots

[2019-04-15 06:02] mapcentia commented on #24
![](https://github.trello.services/images/mini-trello-icon.png) [New profile drawing tool](https://trello.com/c/MrnXOvTW/68-new-profile-drawing-tool)

[2019-04-16 10:38] sashuk commented on #22
@mapcentia Thank you for the clarification!

[2019-04-17 10:18] sashuk commented on #22
@mapcentia Implemented in https://github.com/sashuk/watsonc/commit/839e01e485e7726f1e1d623a320ec1a142d4b5fa

For reference: https://vidi.alexshumilov.ru/app/jupiter/chemicals/?state=state_snapshot_90b759e0-60f5-11e9-9477-194904768108&tmpl=watsonc.tmpl

What is stored in state snapshot:

![dehydratedplot](https://user-images.githubusercontent.com/1390758/56280602-2305e900-613d-11e9-912f-7081d3c406b

[2019-04-17 10:18] #22 closed

[2019-04-17 10:24] sashuk commented on #23
@mapcentia Could you please clarify on following moments:

- what should happen when `Register new data` is pressed (seems like it has to be the third screen in startup modal, as there is also `Register new data` menu item)?
- is there any specification on how `Search` should work (the search scope, any advanced filtering, the UI of search results)?
- is there any specification on how `Starred` sh

[2019-04-17 10:27] sashuk commented on #24
@mapcentia Could you please provide any specification concerning the description of the returned object?

[2019-04-17 14:49] mapcentia commented on #23
@sashuk
`Register new data` is a future feature. Leave that out for now.
`Search` (up in the right corner) is an address search, which I'll implement. It will just center the map on the wanted address.
`Starred` I'm not sure. I'll add an new issue regarding this one.
styled scroll bars? No, leave that be.

[2019-04-17 15:04] mapcentia commented on #24
@sashuk Some more info:
The buffer polygon should be sendt to the a Vidi endpoint, where the polygon should be used to find all intersecting boreholes using the SQL API. So it should work just like the standard advanced query tool but with a hardcoded table/view. On the server side the found boreholes should be used in calling a Python script, which will return a JSON string, which should be parse

[2019-04-18 09:35] sashuk commented on #23
@mapcentia Could you please specify if chemicals in the left column should have colored circles near them and if they do, is color assigned as when the chemical is selected?

Current progress (`Register new data` and `Starred` features were postponed):

![design](https://user-images.githubusercontent.com/1390758/56351730-5c535d00-6200-11e9-8c28-6b6f28274e3c.gif)

[2019-04-18 11:22] sashuk commented on #24
@mapcentia Thanks for the clarification! Should the map have the same set of drawing controls as in advanced query or there should be only the line drawing which is activated by default? As `Watsonc` uses the `embedded` template, the regular drawing control probably should not be used then and the drawing control like in `measurements` should be implemented.

![drawing](https://user-images.githubu

[2019-04-19 13:16] sashuk commented on #24
@mapcentia Currently the tool can draw the profile with certain buffer and request the backend. However, when the request is sent to the SQL API, the Nginx's `414 Request-URI Too Large` is returned - is it possible to make Nginx accept longer requests? The tool is pretty much ready for Python script.

![profile](https://user-images.githubusercontent.com/1390758/56425770-45883580-62e8-11e9-8087-eba

[2019-04-23 10:56] mapcentia commented on #23
@sashuk I'm not sure what you about "chemicals in the left column"?

[2019-04-23 10:59] mapcentia commented on #24
@sashuk Are you using GET for the request? There should not be any limit on POST body

[2019-04-23 11:20] sashuk commented on #23
@mapcentia Please see the screenshot:

![55694472-f3413d80-59e6-11e9-8b68-040c78a7ed31](https://user-images.githubusercontent.com/1390758/56577128-d028a780-65fc-11e9-9ca8-a42e91668fae.png)

[2019-04-23 11:45] sashuk commented on #24
@mapcentia I will try `POST`, thanks!

[2019-04-24 06:26] sashuk commented on #24
@mapcentia @JacobBirk The querying now works correctly (requesting via `POST` in https://github.com/sashuk/watsonc/commit/fbdfa9ae1f7760d4b9a7206d677b5d2b3787790a, please see the demo below)

Could you please provide the Python script to test with? It will be great to have the `Profiles` section ready, so the https://github.com/sashuk/watsonc/issues/31 can be closed along the way.

![querying](htt

[2019-04-24 07:34] mapcentia commented on #23
@sashuk  Yes, I see now. These symbols are what you see for a single borehole in the map after you have selected a chemical. The idea is that you also see the symbols up front when you click on a borehole. The symbols are create here: https://github.com/sashuk/watsonc/blob/master/browser/index.js#L956-L1087 Maybe you can extract the function and put it in a module and reuse it?

[2019-04-24 07:35] sashuk commented on #23
@mapcentia Sure, thanks for the clarification!

[2019-04-24 12:33] sashuk commented on #23
@mapcentia Color indications were added in https://github.com/sashuk/watsonc/commit/4d10bb1c4832aa0bd6e0682e64122d6944428315

![style](https://user-images.githubusercontent.com/1390758/56659603-2286c880-66d0-11e9-86fc-084aae88d3d8.gif)

[2019-04-24 12:33] #23 closed

[2019-04-29 08:27] mapcentia opened #25 "When vector layer is switched off by zoom out it will not be switched on agian when zoom in"
Also if you start zoomed out, the vector will not switch on when zooming in

![Peek 2019-04-29 10-30](https://user-images.githubusercontent.com/3850918/56884387-e9e94500-6a69-11e9-9e8d-0a5df465a61b.gif)

[2019-04-29 19:33] mapcentia opened #26 "Some adjustments to info window"
![image](https://user-images.githubusercontent.com/3850918/56921547-572ac380-6ac6-11e9-9bd3-56843bfd5e89.png)

[2019-04-29 19:34] mapcentia commented on #26
![](https://github.trello.services/images/mini-trello-icon.png) [Adjustments to info window](https://trello.com/c/tNfgvcPb/73-adjustments-to-info-window)

[2019-04-29 19:35] mapcentia commented on #25
![](https://github.trello.services/images/mini-trello-icon.png) [When vector layer is switched off by zoom out it will not be switched on agian when zoom in](https://trello.com/c/At8XfOPR/74-when-vector-layer-is-switched-off-by-zoom-out-it-will-not-be-switched-on-agian-when-zoom-in)

[2019-04-30 09:55] sashuk commented on #26
@mapcentia Implemented in https://github.com/sashuk/watsonc/commit/582f12e6b36775fc68a96f1d0292dd9f3318df9e

![designissues](https://user-images.githubusercontent.com/1390758/56954204-d07ef080-6b70-11e9-8018-5d21ad24a7f0.gif)

[2019-04-30 09:55] #26 closed

[2019-04-30 10:05] sashuk commented on #25
@mapcentia Fixed in https://github.com/sashuk/watsonc/commit/663b9251b708ca5ecf588297f33b5e20c83fd8d5

![zoom](https://user-images.githubusercontent.com/1390758/56954340-218ee480-6b71-11e9-8e04-a1a1102fadba.gif)

[2019-04-30 10:05] #25 closed

[2019-05-01 18:28] mapcentia opened #27 "Plot canvas should be responsive, so it fills out the space in the grid cell"
Now it seems that plots have a fixed width

[2019-05-01 18:36] mapcentia opened #28 "Plots should use native legend"
It seems, that the legend is something created outside Plotly? Is there a reason for this?

From Vidi:
![image](https://user-images.githubusercontent.com/3850918/57034703-8c631d00-6c50-11e9-889d-60329c175276.png)

Native legend:
![image](https://user-images.githubusercontent.com/3850918/57034733-9e44c000-6c50-11e9-965e-deb62ae09de2.png)

[2019-05-02 15:51] sashuk commented on #28
@mapcentia Is used to contain controls for deleting the measurement, so now it can be surely made as a native one.

[2019-05-02 17:53] sashuk commented on #27
@mapcentia Implemented in https://github.com/sashuk/watsonc/commit/52ec44819451df2980ebd5d3a6f35a68da0edba0

![responsive](https://user-images.githubusercontent.com/1390758/57095756-2ce73900-6d46-11e9-9585-634e9084964e.gif)

[2019-05-02 17:53] #27 closed

[2019-05-02 17:53] sashuk commented on #28
@mapcentia Implemented in https://github.com/sashuk/watsonc/commit/52ec44819451df2980ebd5d3a6f35a68da0edba0

![watsonc](https://user-images.githubusercontent.com/1390758/57095772-396b9180-6d46-11e9-8b89-b060b2624954.gif)

[2019-05-02 17:53] #28 closed

[2019-05-03 08:58] ksnwatsonc commented on #20
![Start et nyt projekt – 1](https://user-images.githubusercontent.com/50231643/57127980-4f06a880-6d92-11e9-831c-073093c17f5f.png)

- Button "Registrer nye data" needs to be removed from the wizard. It will be introduced later on.
- The greyed out boxes, are feautures that will come later on as well.
- Water level category in the right side should be inside same scroller as the chemicals.
- There i

[2019-05-03 09:31] ksnwatsonc opened #29 "Right-side menu"
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/50231643/57129244-1963be80-6d96-11e9-8098-fca9c1e71f03.gif)

All functions should be contained in the right-side menu. The top left menu "vælg data" should be removed. These data can instead be reached from the right side menu under "datakilder- og typer".

"Min konto" links to the admin-page of Calypso.

The video shows how to ch

[2019-05-03 10:27] ksnwatsonc commented on #29
This link show most of the interactions in the right menu. Please ask if you have any questions or concerns :)

https://xd.adobe.com/view/a9a827c7-6c98-4e1d-6333-6da2ad4868d1-df99/

[2019-05-03 10:29] sashuk commented on #20
@mapcentia @ksnwatsonc Could you please specify what for are the layer switchers on the right side if the water level is in the list with chemicals by default? Assuming that now clicking on the first layer shows all chemicals and in order to show the water level, the second layer has to be clicked.

[2019-05-03 10:52] ksnwatsonc commented on #29
![](https://github.trello.services/images/mini-trello-icon.png) [Højre-side menu](https://trello.com/c/rLfUpErr/76-h%C3%B8jre-side-menu)

[2019-05-03 11:19] JacobBirk commented on #20
@sashuk The left side specifies the layer sources. For now the

1. DGU boringer (boreholes timeserie.... & waterlevel)

2. Andre vandstandsstationer (Sensor data with ...)

The right side select data type. if (1) is checked alle chemicals and waterlevel (from jupiter database) should be selectable.
If (2) is checked only waterlevel from sensor should be selectable.
if (1) and  (2) is checked water

[2019-05-03 12:35] JacobBirk commented on #29
A few extra comments:
"datakilder og -typer" opens
![Screenshot 05-03-2019 14 24 23](https://user-images.githubusercontent.com/50234893/57137132-3789e880-6daf-11e9-8443-bcad7e4142af.png)
== same at bottom part of upstart wizard
Admin-page has the address: https://admin.calypso.watsonc.dk/
Dashboard contains Timeseries, profiles and tables (later). New, hide/show, delete of these is controlled from

[2019-05-03 14:53] sashuk commented on #20
@JacobBirk Hello, Jacob, nice to meet you too!:)

The explanation is great, requirements were implemented in https://github.com/sashuk/watsonc/commit/d3b33d9cfa77fc142dc9920879f810b900dbe145

![design](https://user-images.githubusercontent.com/1390758/57145527-f963e780-6df5-11e9-886f-1fa6dd993372.gif)

[2019-05-03 14:53] #20 closed

[2019-05-04 20:53] JacobBirk commented on #29
@sashuk @ksnwatsonc @mapcentia
We (WatsonC) are learning how to struture issues and I think we have to brake et into smaller issues. Kristians interactice proto type is good for overview, but contains to much.
Here is som additional comments to the right side menu
![image](https://user-images.githubusercontent.com/50234893/57184574-a6edfe00-6ebd-11e9-9722-dbb40e728d5b.png)

All the round icons is

[2019-05-04 21:04] JacobBirk opened #30 "Timeserie menu"
@sashuk @mapcentia
![image](https://user-images.githubusercontent.com/50234893/57184712-c128db80-6ebf-11e9-9d7b-bf6a6604458e.png)
Left Check box add/remove timeseries to the dashboards
Radio button highlights  items in the map that are on the plot

[2019-05-06 07:25] sashuk commented on #29
@JacobBirk Breaking into small issues is indeed a great idea! The current issue was implemented in https://github.com/sashuk/watsonc/commit/9e76d3ed353612d605994e645a03d8a937e4bdbe, getting to the `Timeseries` menu.

Demo:

![mainmenu](https://user-images.githubusercontent.com/1390758/57211517-1de8db00-7013-11e9-9b66-22b46df2fda7.gif)

[2019-05-06 07:25] #29 closed

[2019-05-06 07:33] sashuk commented on #30
@JacobBirk Could you please specify if the actual time series should be listed in the red area, and controls for managing time series in the blue area? Also could you please specify what is expected when the user clicks the checkbox in the blue area (how time series can be "enabled")?

![demo](https://user-images.githubusercontent.com/1390758/57211827-3f969200-7014-11e9-9b83-03c5e697aa05.png)

[2019-05-06 07:34] sashuk opened #31 "Bottom dialog"

[2019-05-06 07:36] sashuk commented on #31
@JacobBirk Could you please specify what types of data the bottom dialog should contain (according to the https://xd.adobe.com/view/a9a827c7-6c98-4e1d-6333-6da2ad4868d1-df99/screen/1ffe2b04-9749-4be5-b3b8-9a7894aba1d9/Tabeller-Mine-tabeller-tilf-j it contains at least time series and some kind of configuration objects)? Should these objects be all sortable between each other? What does the `+` but

[2019-05-06 07:41] JacobBirk commented on #30
@sashuk Yes,  timeseries are shown as graphs in the red window and controlled (add/removed) form the blue window.
Marked checkbox in the blue area add timeserie to the red window - 5 marked ==> 5 TS in the blue window

[2019-05-06 07:45] sashuk commented on #30
@JacobBirk Thanks a lot!

[2019-05-06 08:20] JacobBirk commented on #31
@sashuk
The bottom dialog contains:

- Timeseries (as now)

- Profiles

- Tables/data lists **(implemented later**). The list would eg. contains a list of sensor stations with eg. warning levels of waterlevel.

![image](https://user-images.githubusercontent.com/50234893/57212578-75bc1d80-6fe4-11e9-82a3-1ec05f5e07e3.png)

Forget the + bottom
Your current layout is fine.
Substitute Timeseries with C

[2019-05-06 08:50] JacobBirk commented on #31
@sashuk @mapcentia
We or Martin will provide more timeserie plot specifikations later

[2019-05-06 10:18] sashuk commented on #31
@JacobBirk Thanks for the clarification, looking forward to new information!

[2019-05-07 07:04] JacobBirk commented on #30
![](https://github.trello.services/images/mini-trello-icon.png) [Bottom dialog](https://trello.com/c/1aUqHv6j/77-bottom-dialog)

[2019-05-07 07:05] JacobBirk commented on #31
![](https://github.trello.services/images/mini-trello-icon.png) [Bottom dialog](https://trello.com/c/1aUqHv6j/77-bottom-dialog)

[2019-05-07 07:06] JacobBirk commented on #30
![](https://github.trello.services/images/mini-trello-icon.png) [Timeserie menu](https://trello.com/c/NA4gXR5z/78-timeserie-menu)

[2019-05-07 07:13] JacobBirk opened #32 "Webpage title"
@mapcentia
Webpage title: Calypso by WatsonC instead of Mapcentia Vidi
Calypso icon instead of Mapcentia Vidi icon
Simplify url (if possible) eg.:  (https://map.calypso.watsonc.dk/app/jupiter/chemicals,sensor/?session=s%3AWg2bdG-pvYglCl6Gl_1LFSOEIPT5-aGk.wMGz7HwK4molfgOKClDJOD2mrZYFhgysSxnSENXxkgQ#geodk.bright/8/10.07/56.8495/sensor.sensordata_without_correction,v:sensor.sensordata_with_correction

[2019-05-07 07:13] JacobBirk commented on #32
![](https://github.trello.services/images/mini-trello-icon.png) [Titel på siden skal hedde Calypso by WatsonC inkl logo og ikke Mapcentia Vidi](https://trello.com/c/IKaUN7PI/49-titel-p%C3%A5-siden-skal-hedde-calypso-by-watsonc-inkl-logo-og-ikke-mapcentia-vidi)

[2019-05-07 07:44] mapcentia opened #33 "Danish search with address and DGU number"
@

[2019-05-07 07:46] mapcentia opened #34 "Add Find Me button"

[2019-05-07 08:44] sashuk commented on #32
@mapcentia Could you please specify if it is okay if the Vidi will have a title tag set to `Loading...` and missing favicon by default, so when the actual Vidi bundle is loaded, the title and favicon are replaced depending on inner logic (so it can be `MapCentia Vidi` by default or `Calypso by WatsonC`)?

[2019-05-07 08:45] sashuk commented on #34
@mapcentia Should the button have access to actual geolocation of user and showing it on the map? Where should it be located?

[2019-05-07 09:14] sashuk commented on #30
@mapcentia @JacobBirk The Timeseries menu was implemented in https://github.com/sashuk/watsonc/commit/0471758c07dc40afd89ea87055acebf73e3583a3 and https://github.com/sashuk/watsonc/commit/8309d303ccf7d5216fbe9011ba20595c904c169b

![demo](https://user-images.githubusercontent.com/1390758/57288066-62e04080-70eb-11e9-8947-b2dec19153a2.gif)

[2019-05-07 09:14] #30 closed

[2019-05-07 09:38] JacobBirk commented on #34
@sashuk @mapcentia
yes and yes - located here
![image](https://user-images.githubusercontent.com/50234893/57289752-41b42b80-70bc-11e9-952b-c9796ea22979.png)
Remove project and timeserie icon (access by right menu)

[2019-05-07 09:54] sashuk commented on #32
@mapcentia @JacobBirk When Vidi is built with `grunt --theme=watsonc ...` the **title** and **favicon** are replaced (implemented in https://github.com/sashuk/vidi/commit/8d850104c6c043cd00bd0221bcc10f8d45f56026).

![page](https://user-images.githubusercontent.com/1390758/57290670-72ae5380-70f0-11e9-97b3-09c3395e371c.png)

[2019-05-07 10:51] sashuk commented on #34
@mapcentia @JacobBirk `Find me` button was added, two other buttons were removed (implemented in https://github.com/sashuk/watsonc/commit/40cf5fd0bce8e047f3a2a6d9e038a7d8b1734135).

![location](https://user-images.githubusercontent.com/1390758/57294053-fff5a600-70f8-11e9-803d-c0c204cedafa.gif)

[2019-05-07 10:51] #34 closed

[2019-05-08 07:08] mapcentia commented on #24
@sashuk @JacobBirk Python script is send to sashuk

[2019-05-08 07:08] sashuk commented on #24
@mapcentia Script received, thanks!

[2019-05-08 08:03] sashuk commented on #32
@mapcentia @JacobBirk The URL can be shortened in terms of layer names - as layer names are pretty long, they can be "aliased" with the shorter ones, like

[code]

The idea is to have these "aliased" names in URL, but the Vidi internals will still operate the regular long layer names. Is this an acceptable variant or shorting the URL? However, this adds an additional level of complexity to the app

[2019-05-08 08:34] JacobBirk opened #35 "Profilegeneration - select relevant layeres"
@mapcentia After drawing the profile the relevant "layers" has to be selected.
Ole's Script now looks into one npy file (FOHM_layers_v2.npy) and we need to extend this with more layer files.

For all layer packages we will provide you with configuration file containing:
**Title: FOHM
Subtitle: Geologisk model for Jylland
Type (geology, terrain, potential): geology
layerfile: FOHM_layers_v2.npy
lay

[2019-05-08 08:58] sashuk commented on #24
@mapcentia @JacobBirk The script was installed and run (not in the Vidi folder, as being deployed in Docker it will reside in a separate folder). However, could you please give some information concerning the data format?

In the example, the script input is a JSON-encoded data:

[code]

The SQL API returns the following data:

[code]

1. To what coordinate system the selected boreholes coordinate

[2019-05-08 09:00] JacobBirk opened #36 "Profile generation - right menu"
See interactive prototype and details below
![AdobeXD0805201910_39_19](https://user-images.githubusercontent.com/50234893/57362967-46daae80-7180-11e9-99d3-029e7f469ccd.gif)

Select old profile or make new (Opret ny profil)
![image](https://user-images.githubusercontent.com/50234893/57361744-615f5880-717d-11e9-967d-0a8196a3390b.png)

Click "Opret ny profil"
Adjust buffer
Adjust profile bottom (Just

[2019-05-08 09:06] JacobBirk commented on #33
![](https://github.trello.services/images/mini-trello-icon.png) [Søgemulighed på dgu nr og adresse](https://trello.com/c/H5udWys3/57-s%C3%B8gemulighed-p%C3%A5-dgu-nr-og-adresse)

[2019-05-08 09:12] JacobBirk commented on #35
![](https://github.trello.services/images/mini-trello-icon.png) [Profile generation - select layers](https://trello.com/c/R6tjOcwI/79-profile-generation-select-layers)

[2019-05-08 09:15] JacobBirk commented on #36
![](https://github.trello.services/images/mini-trello-icon.png) [profile generation - Right menu](https://trello.com/c/KPbulO7R/80-profile-generation-right-menu)

[2019-05-08 09:32] JacobBirk commented on #35
@mapcentia Attached is a zip file with another layer
[Potentialekort_Aalborg_extend.zip](https://github.com/sashuk/watsonc/files/3156614/Potentialekort_Aalborg_extend.zip)

[2019-05-08 11:01] JacobBirk opened #37 "GUI adjustments to 080519 test version"
@sashuk @mapcentia
When new timeseries is generated from here
![image](https://user-images.githubusercontent.com/50234893/57369085-0a617f80-718d-11e9-9036-c40e59fb62db.png)
they must be automatically turned on in the dashboard and placed at first position

**Right menu:**
- titles are missing
![image](https://user-images.githubusercontent.com/50234893/57370014-60cfbd80-718f-11e9-8dac-7137ba2ea2c6.

[2019-05-08 11:04] JacobBirk commented on #37
@sashuk
no data when using Chrome
![image](https://user-images.githubusercontent.com/50234893/57370943-aee5c080-7191-11e9-854e-7af9e3315f9c.png)

[2019-05-09 03:50] sashuk commented on #32
@mapcentia @JacobBirk The URL can be shortened in terms of layer names - as layer names are pretty long, they can be "aliased" with the shorter ones, like

[code]

The idea is to have these "aliased" names in URL, but the Vidi internals will still operate the regular long layer names. Is this an acceptable variant or shorting the URL? However, this adds an additional level of complexity to the app

[2019-05-09 06:29] JacobBirk commented on #32
@sashuk I don't know much about it, but I have seen examples where the full address is hidden and shown as eg https://map.calypso.watsonc.dk in the browser.

If this is not possible or time consuming, your solution is fine :-)

[2019-05-09 06:32] JacobBirk commented on #35
@sashuk Have a look at this and see if you need input from Martin

[2019-05-09 06:33] sashuk commented on #35
@JacobBirk Got it, thanks!

[2019-05-09 06:35] JacobBirk commented on #36
@sashuk Have a look at this and see if you need input from Martin

[2019-05-09 07:43] mapcentia commented on #32
@JacobBirk @sashuk Its not possible to hide the URI path and parameters and only show the hostname. The Safari browser does it, but its a browser thing, which Apple has decided on.

[2019-05-09 07:46] sashuk commented on #32
@mapcentia @JacobBirk Then closing the issue (actually the URL can be without any parameters, as application state will be stored in memory only, but it will require some changes across multiple modules of Vidi).

[2019-05-09 07:46] #32 closed

[2019-05-10 06:57] JacobBirk commented on #24
@sashuk Sorry forgot your question. Feel free to ask again :-)
1. Coordinate system: UTM epsg 25832
2. yes
3. from right menu - see #36

[2019-05-10 08:45] sashuk commented on #24
@JacobBirk Thank you very much!

[2019-05-13 08:21] mapcentia opened #38 "The Snack Bar is not dismissed when entering zoom level 15"
![image](https://user-images.githubusercontent.com/3850918/57606215-b679e080-7568-11e9-971f-4b4b7892a6bd.png)

[2019-05-13 08:39] mapcentia opened #39 "Vector layer is not loaded when starting below zoom level 15 using "Boreholes time series with chemicals""
Start zoomed out with "Boreholes time series with chemicals"
![image](https://user-images.githubusercontent.com/3850918/57607188-c85c8300-756a-11e9-8da6-05c7a3abecfa.png)

Zoom in and vector will never load:
![image](https://user-images.githubusercontent.com/3850918/57607208-d9a58f80-756a-11e9-8425-179cd839d5d8.png)

It works alright with "Sensor data with correction". It seems Vidi tries to load

[2019-05-13 14:57] sashuk commented on #38
@mapcentia Fixed in https://github.com/sashuk/watsonc/commit/b5f91c70a931216d831fd7514140d8fe80797a24

[2019-05-13 14:57] #38 closed

[2019-05-13 16:29] sashuk opened #40 "Tests and separate staging environment specifically for watsonc"
As the amount of code increases, the regression testing becomes more and more critical.

[2019-05-13 17:12] sashuk commented on #39
@mapcentia Fixed in https://github.com/sashuk/watsonc/commit/5e0c7d104311afa971543d4e6fb86d364794c74e

![demo](https://user-images.githubusercontent.com/1390758/57640535-57a67c80-75e5-11e9-9351-ed6dcbf166ff.gif)

[2019-05-13 17:12] #39 closed

[2019-05-14 05:23] sashuk commented on #37
@JacobBirk Following was fixed:
- no title&save dialog in `Calypso dashboard`;
- controls for `Calypso dashboard` are now in the middle and are not overlapped with the right-side menu;
- when the plot is added via borehole modal, it is activated and put as the first one in the list;

Could you please check if the following is working now (the demo with recreating both issues is presented below)?
-

[2019-05-14 06:17] sashuk commented on #35
@mapcentia @JacobBirk Could you please specify if there is any script for detecting stationing values for intersections between the profile and shapefile layers (just curious, I've started on it anyway)?

Also, what are stationing values when the profile crosses the model polygon two and more times like in the picture below - I assume the output will be `..., model_N_config.txt, B, C, model_1_conf

[2019-05-14 06:31] sashuk commented on #24
@mapcentia @JacobBirk The profile drawing tool is complete, three parameters are sent to the Vidi backend:
- WKT of the drawn profile;
- buffer radius;
- profile depth.

Next, data from the profile tool should be used when calling script which is part of the https://github.com/sashuk/watsonc/issues/35 and https://github.com/sashuk/watsonc/issues/36.

![profiledrawing](https://user-images.githubuse

[2019-05-14 06:31] #24 closed

[2019-05-14 08:39] mapcentia opened #41 "Handling of non existing chemicals on sensor.sensordata_with_correction"
When selecting both layers and an chemical which doesn't exist in `sensor.sensordata_with_correction`:
![image](https://user-images.githubusercontent.com/3850918/57683132-5f8d0d80-7633-11e9-842e-18d8fb607454.png)
You'll get an unhandled exception:
![image](https://user-images.githubusercontent.com/3850918/57683448-f35ed980-7633-11e9-96bf-5b14422b3fd7.png)
And `sensor.sensordata_with_correction` ge

[2019-05-14 09:04] sashuk commented on #41
@mapcentia Fixed in https://github.com/sashuk/watsonc/commit/d1942739c58543ec53e10e8a59c3576cc17e667c

![checks](https://user-images.githubusercontent.com/1390758/57685343-42276600-766a-11e9-8fd0-314c986092e6.gif)

[2019-05-14 09:04] #41 closed

[2019-05-14 09:40] sashuk commented on #35
@mapcentia @JacobBirk Is there any repo to store the Python scripts and layer data or maybe the one should be created?

The script for scanning the configuration files:

[code]

Result:

[code]

[2019-05-14 15:25] JacobBirk commented on #37
@sashuk
Looks fine.
The legend should include name - eg. 9.884

[2019-05-14 15:29] sashuk commented on #37
@JacobBirk Could you please specify what legend should contain it? The one that is located in the right side of the Modal when the single measurement is clicked on the map?

[2019-05-14 15:40] JacobBirk commented on #35
@sashuk
I don't think we have any, but it might be a good idea.
Could you explain what it is and the benifit ?

[2019-05-14 15:47] JacobBirk commented on #35
@sashuk there is properly script for detection intersections - we haven't looked for one - should we?

Yes the output model_N_config.txt, B, C, model_N_config.txt, D, E is perfect

only one polygon per shp file

[2019-05-14 15:49] JacobBirk commented on #35
@sashuk
https://user-images.githubusercontent.com/1390758/57674877-ffa65f00-7652-11e9-98cf-d68f5bff5185.png
look perfect to me

[2019-05-14 15:51] sashuk commented on #35
@JacobBirk Thank you very much for clarifications!

The benefit of the script is that it automates the adding of new models (as long as they have properly constructed `*_config.txt` file).
The benefit of the repository (the private one, for example) would be to keep all data in one place and to track all changes as the regular CVS system. For example, when adding a new model it will be enough just

[2019-05-14 15:54] JacobBirk commented on #35
@sashuk
Sound good

[2019-05-14 15:56] sashuk commented on #35
@JacobBirk Am I correct that when the profile is available, some script has to find all intersections of the actual profile `LineString` with all models `Polygons`? However, this is not just a fact of intersection (`true` or `false`), but actual stationing values like in the image above (these values, as I understand, mean the actual distance on the `LineString` from the beginning of the profile t

[2019-05-14 15:58] JacobBirk commented on #37
@sashuk The legend in the bottom of the timeseries
DGU 9.884 - Waterlevel (meter)
instead of
Water level (meter), opdated ....

[2019-05-14 16:04] sashuk commented on #37
@JacobBirk Got it, sure!

By the way, could you please check if the following is working now?
- the `9. 884` borehole particularly seems to be working in Chrome (Windows, MacOS);
- the translation texts seem to appear correctly (launched the page with `da_DK` locale);

[2019-05-14 16:05] sashuk commented on #35
@JacobBirk Thanks, great! Then next thing I will start on this part of the script. By the way, are `stationing values` measured in meters or any other unit?

@sashuk yes meter

[2019-05-14 16:18] JacobBirk commented on #37
@sashuk check where? test version?

[2019-05-14 16:21] sashuk commented on #37
@JacobBirk Yes, do you have a test deployment? I am just wondering where you have observed these bugs and if it possible to recreate them.

[2019-05-14 16:44] JacobBirk commented on #37
@sashuk yes https://test.watsonc.gc2.io/app/jupiter/chemicals,sensor/#geodk.bright/9/10.07/56.8495/sensor.sensordata_without_correction,chemicals.boreholes_time_series_without_chemicals

updated by Martin earlier today

here the datamenu is empty

![image](https://user-images.githubusercontent.com/50234893/57715951-29be4800-7678-11e9-8cb0-cc2eb1518a08.png)

[2019-05-15 05:49] JacobBirk commented on #37
@sashuk
I might be a good idea if you could maintain the test site/keep til the test site updated.

I have data in menu after clearing site data.

![image](https://user-images.githubusercontent.com/50234893/57751295-8015a000-76e5-11e9-8daa-f6122686f62f.png)

[2019-05-15 06:13] sashuk commented on #37
@JacobBirk Thank you for the details!

Sure, I've created the same issue recently https://github.com/sashuk/watsonc/issues/40 - also I think it will be really good to have some regression tests running on every code update (the mechanism already used for Vidi in general).

[2019-05-15 06:53] sashuk commented on #37
@JacobBirk I've tested the link you've provided as well, so probably the issue was that the cache was not updated. Changes in legend were implemented in https://github.com/sashuk/watsonc/commit/68220b81de296f28ab7e21ea558fff4e4d3f76ba.

![plot](https://user-images.githubusercontent.com/1390758/57754492-2763f880-7721-11e9-95a6-5bf2fe81f146.png)

[2019-05-15 06:53] #37 closed

[2019-05-15 09:53] sashuk commented on #35
Input geodata (black one is a profile line)

![input](https://user-images.githubusercontent.com/1390758/57766664-59358900-773a-11e9-86ce-8c38a225af28.png)

[2019-05-15 10:49] JacobBirk commented on #35
@sashuk The FOHM.shp covers Jylland & Fyn (2/3 of denmark) and the "potentiale_aal…..shp" is the one en the middle.

Output is only the FOHM_config.txt, line_start, line_end

[2019-05-16 07:40] sashuk commented on #35
@JacobBirk Thank for the information! Am I correct that the profile can be anywhere inside of Denmark, so every time all `SHP`'s should be checked for intersection with the profile?

@sashuk Yes, all shp files should be checked

[2019-05-16 10:33] sashuk commented on #35
Test cases for intersection script

![testing](https://user-images.githubusercontent.com/1390758/57847339-cca5cc00-7808-11e9-8cd1-675dba70cf37.png)

Latest script version:

[code]

Result for demo data:

[code]

[2019-05-17 17:01] sashuk commented on #35
@mapcentia @JacobBirk Today tests were written for cases presented above, but I think that that the script should process all the cases possible, like *(I)* in the image below (when the single line segment is crossing polygon multiple times, so there are multiple stationing points).

![testing (2)](https://user-images.githubusercontent.com/1390758/57944005-32c54880-7908-11e9-9fc2-7220fb3c1f0c.png)

[2019-05-17 18:21] JacobBirk commented on #35
Looks like you are covering all possible cases 👍

Jacob

________________________________
Fra: Aleksandr Shumilov <notifications@github.com>
Sendt: fredag, maj 17, 2019 7:01 PM
Til: sashuk/watsonc
Cc: Jacob Birk Jensen; Mention
Emne: Re: [sashuk/watsonc] Profilegeneration - select relevant layeres (#35)

@mapcentia<https://github.com/mapcentia> @JacobBirk<https://github.com/JacobBirk> Today tests

[2019-05-22 11:09] sashuk commented on #35
The script was finished, getting to linking it with the `watsonc` module

[script.zip](https://github.com/sashuk/watsonc/files/3207065/script.zip)

[2019-05-23 16:29] sashuk commented on #35
@mapcentia @JacobBirk The full intersection-search was implemented in https://github.com/sashuk/watsonc/commit/fe97a985d96c5b4c20ee9234fe8521df2a779ef7 and in Python scripts attached to this comment. Overall:
- `watsonc` builds the profile
- finds what shapefiles intersect with the profile
- finds what are stationing points values for each intersected file
- builds the list of intersected files in

[2019-05-23 16:30] #35 closed

[2019-05-23 16:32] sashuk commented on #36
@mapcentia @JacobBirk Could you please give information on the following questions:
- should profiles be stored via `key-value` storage?
- is the profile an actual geometry `LineString` AND the selected intersected layers?

[2019-05-24 06:11] JacobBirk commented on #36
@sashuk
I'm not into the details about how, but profiles should be stored.

A stored profile contains:
Line, intersected layers, buffer, depth, and profile (or should that be formed from
"Line, intersected layers, buffer, depth"?

[2019-05-24 06:54] sashuk commented on #36
@JacobBirk You are totally correct, the profile is generated from line and buffer. Thanks for the clarification!

[2019-05-24 09:40] sashuk commented on #36
@JacobBirk Could you please specify:
- if the `profiletool.py` should be called like `profiletool.py "{'coordinates': [[565977, 6372779], [567447, 6370030]], 'DGU_nr': ['  6.   37A', '  6.   37B'], 'Profile_depth': -80}"  Potentialekort_Aalborg_config.txt 0 120 FOHM_config.txt 170 290`?
- if the result of `profiletool.py` execution should be stored as well with the `Line, intersected layers, buffe

[2019-05-24 13:53] JacobBirk commented on #36
@sashuk
The profiletool.py is not ready for multible layer packages yet. The output would only be based om FORHM_layers_v2.npy no matter what the input are

[2019-05-24 15:40] sashuk commented on #36
@JacobBirk So, should I modify the `profiletool.py` or the version that supports multiple layer packages already exists?

[2019-05-24 19:32] JacobBirk commented on #36
No, we will adjust the script.  You can use the the existing script with the additional arguments

Jacob
________________________________
Fra: Aleksandr Shumilov <notifications@github.com>
Sendt: Friday, May 24, 2019 5:40:29 PM
Til: sashuk/watsonc
Cc: Jacob Birk Jensen; Mention
Emne: Re: [sashuk/watsonc] Profile generation - right menu (#36)

@JacobBirk<https://github.com/JacobBirk> So, should I m

[2019-05-27 05:13] sashuk commented on #36
@JacobBirk Thank you for the information!

[2019-05-27 07:46] olemunch commented on #36
Hi @sashuk
I think we should inklude all arguments in the JSON object like this:
In the example I added two overlapping sections for each layer/model. The size of "layers" should bed the same as the size of "overlap"

'{"coordinates": [[565977, 6372779], [567447, 6370030]], "DGU_nr": [" 6. 37A", " 6. 37B"], "Profile_depth": -80, "layers":["Potentialekort_Aalborg_config.txt","FOHM_config.txt"],"ove

[2019-05-27 13:25] JacobBirk opened #42 "Map symbols in Calypso"
@sashuk @mapcentia
We have rethought how we would like the symbols shown on the map.
The Startup menu
![image](https://user-images.githubusercontent.com/50234893/58421233-bd880f00-808f-11e9-8aa3-97ce185143a9.png)
should be re-organised with headlines "grundvand", "Vandløb" and "nedbør"
- The layer "Jupiter boringer" refer to waterlevel and chemistry data from jupiter  (Cirkel (Circle))
- The layer

[2019-05-27 13:27] JacobBirk commented on #42
![](https://github.trello.services/images/mini-trello-icon.png) [Map symbols in Calypso](https://trello.com/c/FwKSi3OW/83-map-symbols-in-calypso)

[2019-05-27 14:35] sashuk commented on #36
@olemunch Got it, thanks! I will use this format then.

[2019-05-27 17:11] sashuk commented on #36
@JacobBirk Could you please specify:
- when the profile is checked (the `Title` column in profiles list), does it mean that it should be shown in the dashboard panel?
- when the radio is selected (the second column in profiles list), should the original profile `LineString` be built on the map or the profile polygon should be built instead?

Current progress:

![profiles](https://user-images.githu

[2019-05-27 18:42] JacobBirk commented on #36
@sashuk Yes the profile should be added to the dashboard
2. question: I don't know if I understand, but I think both the line and polyson should be build and the profile added to the dashboard when selected an old stored profile

[2019-05-28 13:01] mapcentia commented on #36
@sashuk Could add the Python scripts to this repo and hardcode the script path? It'll make it easier to checkout.

[2019-05-28 13:03] sashuk commented on #36
@JacobBirk Thanks you very much!
@mapcentia Sure, I will do it! Should the data be stored in the repo as well (the `FOHM_layers_v2.npy` is around 700MB, for example)?

[2019-05-28 19:07] sashuk commented on #36
@mapcentia @JacobBirk Last changes:
- scripts now reside in https://github.com/sashuk/watsonc/tree/master/scripts (the configuration files for module reside in https://github.com/sashuk/watsonc/blob/master/config/config.js.sample);
- the module for managing profiles is implemented and linked with the backend;
- the module for managing profiles allows showing the original profile and the buffered o

[2019-05-28 19:07] #36 closed

[2019-05-28 20:19] olemunch commented on #36
Hi that is BRILLIANT @sashuk

When you generate a profile graph could you ad this last part below to remove the autoscale button. The problem is, that we use 2 y-axis which must be aligned. Pushing the autoscale button will result in a wrong z-location of boreholes.

Plotly.plot('graph', data, layout,{modeBarButtonsToRemove: ['autoScale2d']})

[2019-05-29 03:57] sashuk commented on #36
@olemunch Thank you very much! The `autoscale` was removed in https://github.com/sashuk/watsonc/commit/4bd9107a1cdaeff342efa2837d82e28bda55f423

Demo:

![autoscale](https://user-images.githubusercontent.com/1390758/58528399-eaabfd00-8208-11e9-9132-27bd0f740934.png)

[2019-05-29 06:06] JacobBirk commented on #36
@sashuk Super cool :-)

[2019-05-30 08:03] sashuk commented on #31
@JacobBirk As time series and profiles are now displayed in the Dashboard, could you please specify the requirements for the `Tables/data lists`?

[2019-05-31 07:44] JacobBirk commented on #31
We are not ready with the tables jet.

In the dashboard ee would like an option to switch between matrix and row view - eg. one or to plots across the page.

You are welcome to start on issue 42 and 33😉

Jacob
________________________________
Fra: Aleksandr Shumilov <notifications@github.com>
Sendt: Thursday, May 30, 2019 10:03:56 AM
Til: sashuk/watsonc
Cc: Jacob Birk Jensen; Mention
Emne: Re: [sa

[2019-05-31 14:22] sashuk commented on #31
@JacobBirk Got it, thanks! Should this issue include tables or it can be closed and the tables will be in the separate one?

Matrix and row view implemented in https://github.com/sashuk/watsonc/commit/db117431043d158450f82efd645f8d98acf9d73a

![views](https://user-images.githubusercontent.com/1390758/58712099-7fbe1a00-83f2-11e9-9b45-07142c9641cc.gif)

[2019-05-31 17:46] JacobBirk commented on #31
Looks perfect👍
Yes close the issue.  Tables will be in later issue

Jacob
________________________________
Fra: Aleksandr Shumilov <notifications@github.com>
Sendt: Friday, May 31, 2019 4:22:06 PM
Til: sashuk/watsonc
Cc: Jacob Birk Jensen; Mention
Emne: Re: [sashuk/watsonc] Bottom dialog (#31)

@JacobBirk<https://github.com/JacobBirk> Got it, thanks! Should this issue include tables or it can be c

[2019-05-31 19:26] sashuk commented on #31
@JacobBirk Great, thanks! Closing the issue.

[2019-05-31 19:26] #31 closed

[2019-06-03 13:52] sashuk commented on #42
@JacobBirk Could you please confirm that there are still the same layers to load data from, however, the `sensordata` layer is now filtered in three different ways (depending on station type)?

[2019-06-03 14:29] JacobBirk commented on #42
@sashuk exactly.
Later on we will have more river data (vandløb) to load, but these data are not ready jet

[2019-06-03 15:13] sashuk commented on #42
@JacobBirk Thank you for the information!

[2019-06-06 09:48] sashuk commented on #42
@JacobBirk Could you please specify what should be shown when every of `CALYPSO stationer` layers is shown? Should it be `water level` for every one of three layers (assuming that all of `CALYPSO stationer` with water sources)?

[2019-06-06 11:47] sashuk commented on #42
@mapcentia @JacobBirk Also could you please provide the location of the `sensor.station.stationtype` field (so it can be filtered)? Currently the `sensor.sensordata_with_correction` layer has the following fields:

[code]

[2019-06-06 13:57] JacobBirk commented on #42
@sashuk
Q1: For "grundvand" and "Vandløb" the datatype "water level" should be displayed. For "Nedbør" the datatype "nedbør" should be displayed.

Ole will help with pointing out the correct tables (if this is not given)

Later on more datatype might linked to the layers.

Q2: Ole will answer

[2019-06-07 12:55] olemunch commented on #42
@sashuk
Hi Alexsandr

Now sensor.sensordata_with_correction also contain "loctypeid"
1: (Grundvand/groundwater),
3 (Vandløb / rivers),
4 (Nedbør/precipitation))

sensor.station.stationtype is now also added to sensor.sensordata_with_correction but since more than one  stationtype can be related to a location is added as a json object containing af list with one or more elements.

If eg. two waterl

[2019-06-10 16:44] sashuk commented on #42
@JacobBirk @olemunch Thank you very much for the explanation! Now I do observe the `stationtype` in `feature[N].properties.watlevmsl` object.

Could you please specify if the `stationtype` is an empty array (not containing one or more objects), should all measurements be considered as **1** (waterlevel)?

Also seems like the `loctypeid` is still missing from the server response, could you please c

[2019-06-11 05:02] sashuk commented on #42
@JacobBirk @olemunch

1. Could you please specify if regular blue and purple circles should be completely replaced by the new symbol notation?

![symbols](https://user-images.githubusercontent.com/1390758/59244958-36b76280-8c49-11e9-8da4-821bd3e6b88e.PNG)

2. Is the `boreholes_time_series_with_chemicals` same as `Jupiter boringer` and is the `sensordata_with_correction` same as `CALYPSO stationer`

[2019-06-11 06:37] olemunch commented on #42
Hi again Alexandr @sashuk
1) Yes blue and purple circles should be completely replaced
2) Yes, yes
3) We can add a tag indicating if the station is still active. Would you like it placed inside the JSON structure that contains data?

Comment to previous question:
I added loctypeid and stationtypeid in separate columns in the table sensor.sensordata_with_correction like this, because i thought it m

[2019-06-11 07:02] sashuk commented on #42
@olemunch Thank you very much! The station status can be placed as a table column, I think (just like `loctypeid` or `stationtypeid`).

Thank you, but I think that it will be easier to keep them as regular columns.

[2019-06-11 09:09] olemunch commented on #42
@sashuk
A "status" column is added.
0: never been online - no symbols added (0 stations at the moment)
1: previously online, but inactive (ikke online nu)
2: online data within last 24 hours (online)

stationtypeid is added both in separate column and inside JSON-structure in watlevmsl.

[2019-06-11 10:55] sashuk commented on #42
@olemunch Thank you!

Current progress (default symbols were added):

![symbols](https://user-images.githubusercontent.com/1390758/59266529-66cb2980-8c7a-11e9-8670-7b3249d3566d.gif)

[2019-06-11 11:26] olemunch commented on #42
Hi Alexandr @sashuk
NICE!

A few corrections:
All jupiter boreholes should be shown as "status" = 0 (no symbol indicating online data)
eg 29. 36, 29. 33

In your screenshot 29. 398 is both present as a borehole in jupiter ( but without data) and as a sensor station in CALYPSO with online data (status = 2, dark blue signal symbols) Blue signal symbol should therefore be visible in this case

[2019-06-11 19:15] mapcentia commented on #42
@sashuk @olemunch columns "status", "precipitation", "loctypeid" and "stationtypeid" are now added to the foreign table "sensor.sensordata_with_correction".

[2019-06-11 19:23] olemunch commented on #42
@mapcentia
Ok Martin - so altering the original table does not affect the foreign table automatically?
Thanks Martin

[2019-06-12 08:30] mapcentia opened #43 "Both sensor.sensordata_without_correction and chemicals.boreholes_time_series_without_chemicals are shown always"
One layer is selected:
![image](https://user-images.githubusercontent.com/3850918/59340538-7b550380-8d06-11e9-8b10-86e980aa2801.png)

Both layers are rendered:
![image](https://user-images.githubusercontent.com/3850918/59340717-cf5fe800-8d06-11e9-832c-79d407cfad0c.png)

[2019-06-12 08:49] mapcentia opened #44 "Multi select of boreholes"
Two or more points (boreholes) can be placed very close, making it impossible to select the bottom ones.
A way of dealing with this issue is to enable multi-select of boreholes. I've used this hack before to enable multi-select:

[code]
If more boreholes are selected, when use tabs:
![image](https://user-images.githubusercontent.com/3850918/59341490-3b8f1b80-8d08-11e9-841c-10f8c54b634e.png)

[2019-06-12 10:58] sashuk commented on #43
@mapcentia Fixed in https://github.com/sashuk/watsonc/commit/ce19a8e24535c92d0754d6205409762cd7096126

[2019-06-12 10:59] sashuk commented on #44
@mapcentia Thank you very much for the snippet!

[2019-06-12 13:32] mapcentia opened #45 "Intake number added to data object"
Now intake number is just the key a measurement has in the array. But intake number is a real id, which may differ from the place in the array. So now the dataobject has a `intakes` property:
![image](https://user-images.githubusercontent.com/3850918/59355061-a18a9b80-8d26-11e9-915c-00d2c5546a88.png)
The length of the `intakes` array corresponds with the length of `measurements`  and `timeOfMeasur

[2019-06-12 18:15] sashuk commented on #44
@mapcentia Implemented in https://github.com/sashuk/watsonc/commit/084a0d1c614d07d565f5c8e7c16fbc88e90bb0dc

![watsonc](https://user-images.githubusercontent.com/1390758/59375562-0246c200-8d81-11e9-810e-6f6ded133541.gif)

[2019-06-12 18:15] #44 closed

[2019-06-12 19:02] mapcentia commented on #43
Both layers are still getting SVG symbols when switching on only one:

![Peek 2019-06-12 21-01](https://user-images.githubusercontent.com/3850918/59378760-5d62bf80-8d55-11e9-8abe-0b1139cd956b.gif)

[2019-06-13 06:54] mapcentia opened #46 "The Drag and Drop boxes now aligns to bottom of dialog"
![image](https://user-images.githubusercontent.com/3850918/59410283-c0397280-8db8-11e9-9078-f303fc222f40.png)

[2019-06-13 08:49] sashuk commented on #46
@mapcentia Fixed in https://github.com/sashuk/watsonc/commit/dc5db5620359bb8e85b5e1c451956d6b9358f48d

![watsonc3](https://user-images.githubusercontent.com/1390758/59418185-2f37bb00-8dfb-11e9-9946-90a1e2ed302c.gif)

[2019-06-13 08:49] #46 closed

[2019-06-14 06:10] sashuk commented on #43
@mapcentia Seems like the SQL queries are correct for "v:sensor.sensordata_with_correction,sensor.sensordata_without_correction", but the result returned always includes the "sensordata" features, which is not correct. Could you please specify if there were any changes to the tables or views made that could possibly influence the output?

![watsonc2](https://user-images.githubusercontent.com/13907

[2019-06-14 07:34] sashuk commented on #43
@mapcentia @JacobBirk Seems like the SQL queries are correct for "v:sensor.sensordata_with_correction,sensor.sensordata_without_correction", but the result returned always includes the "sensordata" features, which is not correct. Could you please specify if there were any changes to the tables or views made that could possibly influence the output?

I've checked the `chemicals.boreholes_time_serie

[2019-06-14 08:22] sashuk commented on #42
@mapcentia @olemunch @JacobBirk Now the data is returned with additional properties `precipitation, loctypeid, stationtypeid, status`, so moving to further map symbols implementation.

[2019-06-14 11:11] sashuk commented on #42
Taking into account online status:

![online](https://user-images.githubusercontent.com/1390758/59505506-2ff24f00-8ed8-11e9-8fe1-0ed09ccb7c23.gif)

[2019-06-14 11:12] sashuk commented on #42
The problem with `sensor` features showing into the `boreholes` layer is processed in https://github.com/sashuk/watsonc/issues/43

[2019-06-17 10:27] sashuk commented on #42
@mapcentia @JacobBirk @olemunch The feature was implemented in https://github.com/sashuk/watsonc/commit/a3363c6c4a4949388470558c88e90204fd451ff5

Every symbol has two parts: the actual symbol shape and the WiFi symbol.
The actual symbol representation is defined according to parameters `stationtype` (shape), `highlighted` (the border settings), `leftPartColor` and `rightPartColor` (in case if they

[2019-06-17 10:27] #42 closed

[2019-06-17 11:09] sashuk commented on #43
@mapcentia Could you please check if the issue is fixed now? Just tried your example, seems like data is displayed correctly:

![watsonc2](https://user-images.githubusercontent.com/1390758/59600140-f5d0b980-9132-11e9-8340-b5d798ef58f6.gif)

When two boreholes are located at the same location, the tabbed view is available:

![watsonc](https://user-images.githubusercontent.com/1390758/59600243-421bf

[2019-06-18 07:29] sashuk commented on #45
@mapcentia Implemented in https://github.com/sashuk/watsonc/commit/7eeccb7579ad36a72d6fc8306da4dfbff64b44a0

Demo:
![intake_numbers](https://user-images.githubusercontent.com/1390758/59661664-db074f00-91dd-11e9-8c80-d27959d9d70c.gif)

[2019-06-18 07:29] #45 closed

[2019-06-19 06:27] mapcentia commented on #43
@sashuk Seems to work. Closing

[2019-06-19 06:27] #43 closed

[2019-06-21 12:51] JacobBirk opened #47 "selection of Datasource and -types"

[2019-06-21 13:09] JacobBirk commented on #47
@sashuk
Datasource and datatypes are initially given in the welcome screen.
Afterwards Datasource and datatypes may be changed from the right menu
![image](https://user-images.githubusercontent.com/50234893/59924154-62023480-9435-11e9-8c52-6c07f8b5c625.png)
The total list of datasource is listed in the right menu
![image](https://user-images.githubusercontent.com/50234893/59924335-d1782400-9435-11

[2019-06-21 13:29] JacobBirk opened #48 "Dashboard layout"
The up and down arrow may be hidden by the data window
Is it possible to add an option where a click in the top frame (marked with read) will push the dashboard up - 1. click > half size, 2. click > full size, 3. click > half size, 4. click > close
![image](https://user-images.githubusercontent.com/50234893/59925287-0eddb100-9438-11e9-97f1-8cb52bc2bcde.png)

Height of timeserie or profil should be

[2019-06-21 13:46] JacobBirk opened #49 "Timeserie plot"
add a download buttom
![image](https://user-images.githubusercontent.com/50234893/59926798-56197100-943b-11e9-9259-4369141613aa.png)
with an option to pack data in an excel file - one tab per dataserie (is that possible?)

Add y-axis on plot
Resize plot height according to #48

[2019-06-21 17:44] JacobBirk opened #50 "Profile tool"
**Changes**
leave "Opret nyt profil" and "Vælg tidligere oprettet profil" open when clicking "profiler"
![image](https://user-images.githubusercontent.com/50234893/59938269-ce406080-9454-11e9-8656-55ca7ed2df5f.png)

Set default buffer to 100 m

Change "tegne profil" to "Tegn profil"

![image](https://user-images.githubusercontent.com/50234893/59938531-8a019000-9455-11e9-863e-187acf04a43d.png)

Aft

[2019-06-26 11:19] sashuk commented on #48
@mapcentia @JacobBirk Implemented in https://github.com/sashuk/watsonc/commit/c747d2fe7da269752136ed6fb5ca4dec5eb6538d

Demo:
![dashboard_1](https://user-images.githubusercontent.com/1390758/60175780-1ab9e080-9847-11e9-9932-dbfa30390de2.gif)

[2019-06-26 11:19] #48 closed

[2019-06-26 12:57] JacobBirk commented on #48
Great

Jacob
________________________________
Fra: Aleksandr Shumilov <notifications@github.com>
Sendt: Wednesday, June 26, 2019 1:19:56 PM
Til: sashuk/watsonc
Cc: Jacob Birk Jensen; Mention
Emne: Re: [sashuk/watsonc] Dashboard layout (#48)

@mapcentia<https://github.com/mapcentia> @JacobBirk<https://github.com/JacobBirk> Implemented in c747d2f<https://github.com/sashuk/watsonc/commit/c747d2fe7da2

[2019-06-26 14:18] sashuk commented on #49
@mapcentia @JacobBirk Implemented in https://github.com/sashuk/watsonc/commit/634f1d8305341888ce226c07a208cad987ee7d02

Creating and downloading plot's XSLX:
![downloading](https://user-images.githubusercontent.com/1390758/60187413-21088680-9860-11e9-8d04-358cd03e7180.gif)

Viewing the XSLX:
![excel](https://user-images.githubusercontent.com/1390758/60187395-18b04b80-9860-11e9-815d-dd11a7cafa47.gi

[2019-06-26 14:18] #49 closed

[2019-06-26 14:41] JacobBirk commented on #49
Looks good👍

Jacob
________________________________
Fra: Aleksandr Shumilov <notifications@github.com>
Sendt: Wednesday, June 26, 2019 4:18:02 PM
Til: sashuk/watsonc
Cc: Jacob Birk Jensen; Mention
Emne: Re: [sashuk/watsonc] Timeserie plot (#49)

Closed #49<https://github.com/sashuk/watsonc/issues/49>.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on Gi

[2019-06-28 06:26] sashuk commented on #47
@mapcentia @JacobBirk Feature was implemented in the https://github.com/sashuk/watsonc/commit/fa38a01366e55884bfafcaa801aa24615335514b (with major refactoring and integration of [redux](https://redux.js.org/))

Demo:
![selector](https://user-images.githubusercontent.com/1390758/60321849-85d2f680-99b0-11e9-916a-05ce75287554.gif)

[2019-06-28 06:26] #47 closed

[2019-06-28 06:50] sashuk commented on #50
Overall progress:
- leave Profiler panels open when clicking "profiler"; :white_check_mark:
- set default buffer to 100 m; :white_check_mark:
- change "tegne profil" to "Tegn profil"; :white_check_mark:
- the checkbox activates the display on the dashboard (as now) and display line & buffer on the map;  :white_check_mark:
- the radio bottom may be deleted; :white_check_mark:
- the line on the map

[2019-06-28 07:31] sashuk commented on #50
@JacobBirk Could you please specify if all existing categories should be shown in the selector when entering a datatype for the created plot, or only those that correspond to currently enabled layers?

Also could you please specify where the latest Python script can be found?

[2019-06-28 09:21] JacobBirk commented on #47
Perfect

Jacob
________________________________
Fra: Aleksandr Shumilov <notifications@github.com>
Sendt: Friday, June 28, 2019 8:26:18 AM
Til: sashuk/watsonc
Cc: Jacob Birk Jensen; Mention
Emne: Re: [sashuk/watsonc] selection of Datasource and -types (#47)

@mapcentia<https://github.com/mapcentia> @JacobBirk<https://github.com/JacobBirk> Feature was implemented in the fa38a01<https://github.com/s

[2019-06-28 10:32] sashuk commented on #50
@JacobBirk I've received the invitation, thank you! Should I put the `intersectiontool.py` script in the provided repo as well or it can reside in the current repo (the only thing that it needs for work is the set of shapefiles which are checked for intersection, please see the https://github.com/sashuk/watsonc/tree/c3fc97a07d85cee1bbbc7b303a5e559ed751edb7/scripts - the `profil` folder does not ex

[2019-06-28 13:48] JacobBirk commented on #50
@sashuk All existing categories:-)

Ok to leave the intersectiontool.py there is is

[2019-07-02 12:53] sashuk commented on #50
@JacobBirk Thank you for the information! For now, everything is implemented except changing the data type for profiles in the Dashboard:

![profile1](https://user-images.githubusercontent.com/1390758/60514113-58b57980-9d0b-11e9-8307-37ff55d40c52.gif)

![profile2](https://user-images.githubusercontent.com/1390758/60514115-58b57980-9d0b-11e9-8e37-325cd13c59ef.gif)

Could you please specify if the n

[2019-07-02 15:48] JacobBirk commented on #50
Good question :-)
I think you should create a new one

[2019-07-03 11:18] mapcentia opened #51 "Custom docker file for Calypso"
I've trouble getting the profile tool to work on the test server. I get:
`message: "Traceback (most recent call last):↵  File "/root/vidi/extensions/watsonc/scripts/intersection/intersectiontool.py", line 217, in <module>↵    raise Exception("Provided folder " + localDataFolder + " does not exist")↵Exception: Provided folder /root/vidi/extensions/watsonc/scripts/intersection/../profil does not exi

[2019-07-04 11:59] sashuk commented on #50
@JacobBirk Thanks you for the information!

@mapcentia @JacobBirk The creation of the profile that differs only in data type and title from the original one was implemented in https://github.com/sashuk/watsonc/commit/001d38edaeab6594141672dd55143ba01814247c

Demo:
![changingthedatatype](https://user-images.githubusercontent.com/1390758/60664890-9514e100-9e95-11e9-8d59-eac6fe56aed9.gif)

[2019-07-04 11:59] #50 closed

[2019-07-04 12:14] sashuk commented on #51
@mapcentia Could you please specify if there should be only `vidi` container which relies on the `https://watsonc.mapcentia.com` host?

For now, the https://github.com/mapcentia/dockerfiles_custom/blob/watsonc-installation/watsonc/vidi/Dockerfile is not able to checkout scripts, all the other configurations are ready.

[2019-07-04 13:27] sashuk commented on #51
@JacobBirk @WatsonC-hub Could you please create a no-password SSH key for cloning the scripts repo (https://help.github.com/en/enterprise/2.15/user/articles/adding-a-new-ssh-key-to-your-github-account)?

[2019-07-04 14:59] JacobBirk commented on #51
@sashuk @mapcentia
Ole is on vacation and I have no idea what to do.
Do you need this to continue?

[2019-07-04 15:04] JacobBirk opened #52 "Bug - right menu data source and -type"
@sashuk Content in "datakilder og -typer" (replace s with r in types) should open in the wide panel as projekter, tidsserier and profiler
![image](https://user-images.githubusercontent.com/50234893/60675715-45c2b680-9e7d-11e9-9113-abd4f90b33ba.png)

[2019-07-05 03:45] sashuk commented on #52
@JacobBirk Fixed in https://github.com/sashuk/watsonc/commit/7d94f437b486178501f85cd958097be289791b80

Demo:

![selector_1](https://user-images.githubusercontent.com/1390758/60696930-6725b000-9f1a-11e9-8f98-676c391b823b.gif)

[2019-07-05 03:45] #52 closed

[2019-07-05 03:46] sashuk commented on #52
@JacobBirk The translation was fixed in https://github.com/sashuk/vidi/commit/05df36a7aa31613d0e8a72cc99d2d131837c8376

[2019-07-05 03:57] sashuk commented on #51
@mapcentia @JacobBirk Actually it is not critical for now, but it still should be added at some point (now profile script is just duplicated, which is bad practice, as it should be always pulled straight from the repo).

[2019-07-05 04:30] sashuk commented on #51
@mapcentia The `Dockerfile` that deploys the production-ready Calypso was committed

[2019-07-08 10:49] JacobBirk opened #53 "Bug/adjustment - coloring of symbols"
There is an detection limit related to all datapoints for chemical in the Jupiterdatabase. If chemical isen't detected  pcjupiterxlplus.GRWCHEMANALYSIS.attribute would include '<'.

The attribute is added to the JSON structure. I think Martin will do this.
All datapoints with '<' is neglected in analysis of "max of historical data" (max) and "latest" (Senest)

![image](https://user-images.githubus

[2019-07-09 14:41] sashuk commented on #53
Intakes for every chemical are now colored differently (implemented in https://github.com/sashuk/watsonc/commit/6aa033dc4de778b9f2741f62a647bfa60d6b9d5c)

![intakes](https://user-images.githubusercontent.com/1390758/60897409-9e89b900-a29a-11e9-9593-0e70df65aa62.PNG)

[2019-07-14 09:46] mapcentia commented on #53
@sashuk Objects now have a `attributes` property. Objects from sensor schema doesn't have this property, so a check in the code has to be done:
[code]

[2019-07-14 09:56] mapcentia commented on #51
@sashuk I've deployed the custom image here: https://watsonc.vidi.gc2.io/app/jupiter/chemicals,sensor/
But the profile tool doesn't work. Could test the image?

[2019-07-15 07:37] JacobBirk opened #54 "Bug - initial load of symbols"
Symbols are not loaded initially
![image](https://user-images.githubusercontent.com/50234893/61200921-3fd19e80-a6e3-11e9-9c3e-46d6e00c41dd.png)
Correct symbols appear after clicking "anvendt"

![image](https://user-images.githubusercontent.com/50234893/61201193-136a5200-a6e4-11e9-81a4-f51d986612d7.png)

[2019-07-15 11:32] sashuk commented on #53
@mapcentia Got it, thank you!

[2019-07-16 13:21] sashuk commented on #51
@mapcentia The `Dockerfile` now it installs the Python 3 and some additional modules via `pip`, the image was tested (added in https://github.com/mapcentia/dockerfiles_custom/commit/6d74bcd7f7e0b8fd98b94cf094fcabdc4009c347).

[2019-07-17 11:53] sashuk commented on #53
@JacobBirk Could you please specify if `If the given chemical isn't detected` means that **all** of data points have a corresponding `<` attribute, so there are no points to detect latest or max values?

[2019-07-17 12:15] JacobBirk commented on #53
If latest isn't detected a "i.p." is added to the mouse over: Senest: i.p.

if no points at all is detected "i.p." is added to the mouse over: max: i.p.

[2019-07-17 12:20] sashuk commented on #53
@JacobBirk Got it, thanks!

[2019-07-17 12:24] JacobBirk commented on #53
By the way:

In wells with 2 or more intakes the coloring should be determine as:
![image](https://user-images.githubusercontent.com/50234893/61374855-bc0fe180-a89d-11e9-8cf7-542aef1735ea.png)

Left: max of historical values for intake 1, 2, etc.
Right: max of latest value for intake 1, 2, etc.

Current example: left: red (60), right: red (52)

[2019-07-17 12:37] JacobBirk opened #55 "Right menu open at startup"
At startup the right menu should be "half open" as
![image](https://user-images.githubusercontent.com/50234893/61375731-e6629e80-a89f-11e9-85d8-e1ca2f83f597.png)
When the right menu is full size and closed it return to half open

[2019-07-17 12:44] JacobBirk opened #56 "Dashboard open & close"
I know that et was my suggestion, but I dont think appearance (closed, halv size and full size) of the dashboard works properly. Any suggestions?
I think you should re-introduce the arrows and - if possible - make the entire blue framed area clickable
![image](https://user-images.githubusercontent.com/50234893/61376345-4d348780-a8a1-11e9-94ef-20bf04c179b6.png)

[2019-07-17 12:46] sashuk commented on #56
@JacobBirk Should arrows be in the middle of the framed area as they used to be?

[2019-07-17 12:51] JacobBirk opened #57 "BUG: no data is loaded in my browser"
Often I don't get data loaded and I have to "clear site data" and reload the application
![image](https://user-images.githubusercontent.com/50234893/61376593-c3d18500-a8a1-11e9-918a-2858d5f3f3a2.png)

[2019-07-17 13:02] JacobBirk opened #58 "Display order of menus"
Is it possible to control the display order of the different menus? E.g. if I click on the dash board if will appear in front of the data menu and the right menu and if I click on the data menu it will appear on top of the dashboard menu.

Or is it possible to close the data menu at reduce the right menu to half size when clicking on the dashboard? (second priority)

![image](https://user-images.g

[2019-07-17 13:10] JacobBirk opened #59 "Dashboard"
I would like the high of the timeserie to be adjusted to the height of the dash board
Half size dash board = height of one timeseries or profile
full size dash board = = height of two timeseries or profile
![image](https://user-images.githubusercontent.com/50234893/61377911-6ee33e00-a8a4-11e9-8871-bf7ebeadf846.png)

[2019-07-17 13:13] sashuk commented on #55
@mapcentia @JacobBirk Right menu is opened at startup (implemented in https://github.com/sashuk/watsonc/commit/b088f53f864030d6168ddb5115450738ceced7e3)

[2019-07-17 13:13] #55 closed

[2019-07-17 13:14] JacobBirk opened #60 "intake in legends"
Please add the intake no to the legend. As: _DGU 34.1695(1) - Nitrat......_
![image](https://user-images.githubusercontent.com/50234893/61378241-41e35b00-a8a5-11e9-9690-b1e4def79edf.png)

[2019-07-17 13:15] JacobBirk commented on #33
@mapcentia Søgning på DGU boringer virker ikke

[2019-07-17 13:20] JacobBirk commented on #56
@sashuk Depends on #58.
If you can control the display order it would be fine in the middle. Otherwise the left (or both places)

[2019-07-18 02:16] sashuk commented on #60
@mapcentia @JacobBirk Legend now shows the intake number (according to the `intakes` property), implemented in https://github.com/sashuk/watsonc/commit/9fd8f388e2a76304c51e50c34e7bb8c74ec228d7

Demo:
![intake](https://user-images.githubusercontent.com/1390758/61424124-013b1e80-a945-11e9-922f-2d9fb1af2d00.PNG)

[2019-07-18 02:16] #60 closed

[2019-07-18 02:18] sashuk commented on #53
@mapcentia @JacobBirk Measurements that have corresponding `<` attribute, are marked with red, the `i.p.` text and new coloring scheme were also applied in https://github.com/sashuk/watsonc/commit/9fd8f388e2a76304c51e50c34e7bb8c74ec228d7

Demo:

![plot](https://user-images.githubusercontent.com/1390758/61424176-42cbc980-a945-11e9-9118-bac8252d72af.gif)

[2019-07-18 02:18] #53 closed

[2019-07-18 03:15] sashuk commented on #57
@JacobBirk Could you please specify the following:
- when does this happen (on initial load after cache reset, after a page refresh, after some time interacting with the page)?

[2019-07-18 03:20] sashuk commented on #54
@JacobBirk Could you please specify if this happens after zooming in? Please consider the following case:
- load page with `zoom < 15` (so, the layer symbols are not shown)
- select all layer in the Intro modal
- zoom into the map with `zoom >= 15`
- the previously selected layers still do not show up

The observed case was fixed in https://github.com/sashuk/watsonc/commit/a6b1b5d5289d2ef4f76c9c97

[2019-07-18 05:04] sashuk commented on #58
@JacobBirk There are three levels now - the Dashboard, Borehole modal or Main menu take the leading role depending on the last clicked item, implemented in https://github.com/sashuk/watsonc/commit/79e33852d84ce7ad90792c320062b86295c59641.

Demo:

![windows](https://user-images.githubusercontent.com/1390758/61430423-69492f00-a95c-11e9-902d-ac2989e6e555.gif)

[2019-07-18 05:04] #58 closed

[2019-07-18 05:40] sashuk commented on #56
@mapcentia @JacobBirk Arrows are back - now the Dashboard can be minified/expanded via arrows **and** by clicking the header. The arrows were put at the left side in order to keep the header compact (placing arrows in the middle will make the statistics text go down which will take another line). Implemented in https://github.com/sashuk/watsonc/commit/1e68ae49c48f5f945556b3c841b3272c9c340af3.

![c

[2019-07-18 05:40] #56 closed

[2019-07-18 05:43] JacobBirk commented on #53
Very nice:-)

[2019-07-18 05:47] JacobBirk commented on #57
After cache reset and page refresh everything is fine.
I only observe the problem when starting the application. It never appears during a session (or I haven't observed it)

[2019-07-18 06:06] JacobBirk commented on #54
Selection all layers & continue
![image](https://user-images.githubusercontent.com/50234893/61432422-bd3e1e80-a930-11e9-9b9c-56bb21a4ebef.png)
The Calypso stations are shown, but not with correct symbols
After zoom
![image](https://user-images.githubusercontent.com/50234893/61432539-19a13e00-a931-11e9-8434-56c21e3c11f9.png)
Jupiter symbols are gray, which is fine
Zooming in should activate the cor

[2019-07-18 06:07] JacobBirk commented on #58
Very nice:-)

[2019-07-18 06:08] JacobBirk commented on #56
perfect:-)

[2019-07-18 06:21] JacobBirk opened #61 "Marking selected intems with black outline"
Wells and stations added to a timeserie or profile is marked with black outline (as shown in "markeret".
![image](https://user-images.githubusercontent.com/50234893/61433915-dba61900-a934-11e9-9e36-933a64ad44e2.png)

[2019-07-18 06:24] JacobBirk opened #62 "Daily synchronization with Jupiter database"

[2019-07-18 06:36] JacobBirk opened #63 "calypso stations are always blue"
Calypso stations should always be blue - only the wi-fi symbol change color (blue online, gray offline)
![image](https://user-images.githubusercontent.com/50234893/61434503-73f0cd80-a936-11e9-8c11-abd9acc41999.png)
If Calypso stations are placed at same location as a Jupiter well the Jupiter color should overrule the color of the calypso station

[2019-07-18 06:45] JacobBirk opened #64 "Mouseovers"
New mouseovers
![image](https://user-images.githubusercontent.com/50234893/61435235-53c20e00-a938-11e9-9313-83f368cf34a7.png)

[2019-07-19 03:52] sashuk commented on #54
@JacobBirk Thank you very much for the information! The actual data is loaded only with `zoom level >= 15`, as it could affect the performance a lot. Calypso points are displayed on lower zoom levels as the number of Calypso points is less than the Jupiter ones, so it will not affect the performance as well.

Fixed in https://github.com/sashuk/watsonc/commit/83272da00a07b7cc763384334cfa46f3c1e4b47

[2019-07-19 03:52] #54 closed

[2019-07-19 04:16] sashuk commented on #57
@JacobBirk Thank you for the information! Could you please also specify if this happens when you are consequently clicking various boreholes without any other interactions? Could you please make a screenshot of the `Console` view in Chrome DevTools in case you will have it open?

[2019-07-19 06:53] sashuk commented on #61
@mapcentia @JacobBirk Dynamic highlighting was implemented in https://github.com/sashuk/watsonc/commit/8330529c25bcf62a2569da6ab64553640dfc9255

Demo:
![highlighting](https://user-images.githubusercontent.com/1390758/61515316-ea73f500-aa34-11e9-9c00-dc77a5073c12.gif)

[2019-07-19 06:53] #61 closed

[2019-07-19 07:18] sashuk commented on #63
@mapcentia @JacobBirk The ordering of layers was set, the Calypso features are now blue when the chemical is selected, implemented in https://github.com/sashuk/watsonc/commit/d5ddae946ac606fa47b7df58bcfe0bfcdbd71c47

Demo:
![ordering](https://user-images.githubusercontent.com/1390758/61516880-82271280-aa38-11e9-8a03-eb1ea85aa6d3.gif)

[2019-07-19 07:18] #63 closed

[2019-07-20 05:21] JacobBirk commented on #57
I've clicked on 20-30 boreholes and there is no changes in memory usage or response speed
![image](https://user-images.githubusercontent.com/50234893/61574240-06bb7480-aabd-11e9-85e8-6d74d834b800.png).

After making timeseries and releading the applikation the error occurs again
![image](https://user-images.githubusercontent.com/50234893/61574358-da085c80-aabe-11e9-9f9b-eb0182e4a33d.png)

[2019-07-20 05:32] JacobBirk opened #65 "Loading projects"
Loading an existing project should restore the dashboard with timeseries and profiles.

It is not possible for me to test the "open existing project" option because I'm not able to login at this stage
![image](https://user-images.githubusercontent.com/50234893/61574443-2ef8a280-aac0-11e9-8865-16f6855c72d1.png)

[2019-07-20 05:38] JacobBirk opened #66 "Sharing projects"
When sharing a project with url link the user should be redirected to the login page with the link as argument. After login on the landing page the user is directed to the specific project.
It needs action from webhouse and a quick workaround is to call the Vidi login:
![image](https://user-images.githubusercontent.com/50234893/61574529-5e5bdf00-aac1-11e9-9235-1f3e2a95d612.png)

[2019-07-20 05:55] JacobBirk opened #67 "Opening dataview from profiles and restyling the intake profile visualization"
Now the intake at wells are colored according to the selected chemical  (hopefully - it is difficult to se on the demo:-))
We would like to add an event to "click on intake" that open the Datamenu for the current borehole.
![image](https://user-images.githubusercontent.com/50234893/61574699-7fbdca80-aac3-11e9-9b41-c07e1b3b1aff.png)

[2019-07-22 08:35] sashuk commented on #57
@mapcentia @JacobBirk Thanks you very much for the detailed description! Fixed in https://github.com/sashuk/watsonc/commit/ed1ef770eae95a9d9cb3c85b2db65f6a109a3d8e

[2019-07-22 08:35] #57 closed

[2019-07-22 10:14] sashuk commented on #67
@mapcentia @JacobBirk Implemented in https://github.com/sashuk/watsonc/commit/803bd2b942a790ef50fa6ab9736e4d4632834c11

Demo:
![onclick](https://user-images.githubusercontent.com/1390758/61625078-79d70d80-acac-11e9-90a3-860244e80369.gif)

[2019-07-22 12:11] sashuk commented on #59
@mapcentia @JacobBirk Implemented in https://github.com/sashuk/watsonc/commit/0c14dbe4404c513801dba9cf323c139db914aa5d

Demo:
![dynamic_height](https://user-images.githubusercontent.com/1390758/61631360-bca0e180-acbc-11e9-873c-f33407b78e76.gif)

[2019-07-22 12:11] #59 closed

[2019-07-22 12:18] JacobBirk commented on #67
Very nice.
The intakes should be colored green, yellow and red bases on latest value.

Looks like the color scheme for the layers in the wells are not correct.

[2019-07-22 14:01] sashuk commented on #67
@JacobBirk Could you please clarify if intake colors should display only the **latest** value, not the maximum **and** latest?

![intake](https://user-images.githubusercontent.com/1390758/61638528-2ffe1f80-accc-11e9-9c9c-b951a5536776.PNG)

[2019-07-22 19:13] JacobBirk commented on #67
I think that it might be diffucult to have both colors at the intake, even though ud would be nice. You are welcome to come with a suggestion.

[2019-07-22 22:25] sashuk commented on #67
@JacobBirk What if show the latest and maximum colors under the actual chemical name and intake number like in the example below? Should I also check the Python script concerning the colors in wells (the colors in wells are defined in the Python script and are returned from the Python script with the profile data)?

![intake](https://user-images.githubusercontent.com/1390758/61669465-b6d5eb00-ad12

[2019-07-22 23:13] sashuk commented on #64
@JacobBirk Could you please specify if mouseovers should be regular HTML titles?

![title](https://user-images.githubusercontent.com/1390758/61671263-644bfd00-ad19-11e9-8e7f-2382e91d201d.png)

[2019-07-23 05:53] sashuk commented on #65
@mapcentia @JacobBirk The sign-in dialog can now be called from the `IntroModal` window (if the application is already authenticated, then the `IntroModal` shows both local and user's projects), implemented in https://github.com/sashuk/watsonc/commit/e8fa9a3299bc9018ad8d8d45a7ed5c4d288b2ce5

Demo:
![loading](https://user-images.githubusercontent.com/1390758/61686035-1bb03600-ad51-11e9-9289-014843d

[2019-07-23 05:53] #65 closed

[2019-07-23 06:47] JacobBirk commented on #64
Looks fine😉

Jacob
________________________________
Fra: Aleksandr Shumilov <notifications@github.com>
Sendt: Tuesday, July 23, 2019 1:13:42 AM
Til: sashuk/watsonc <watsonc@noreply.github.com>
Cc: Jacob Birk Jensen <jbj@watsonc.dk>; Mention <mention@noreply.github.com>
Emne: Re: [sashuk/watsonc] Mouseovers (#64)

@JacobBirk<https://github.com/JacobBirk> Could you please specify if mouseovers shoul

[2019-07-23 06:54] JacobBirk commented on #67
I think that the colors somehow should be conneced to the intake squared boxes.

Where did you think that the box you suggest should be located?

Yes please check i python script. We might need to have Ole involved, if you can’t see the problem.

Jacob
________________________________
Fra: Aleksandr Shumilov <notifications@github.com>
Sendt: Tuesday, July 23, 2019 12:25:55 AM
Til: sashuk/watsonc <

[2019-07-23 07:02] sashuk commented on #67
Got it, thanks! As far as I understand the UI checks where the measurement value is located in relation to the chemical limits, so it is either green, orange or red. However, the Python script uses a completely different color assignment, so I will check how it works then!

Concerning the box - it can be located right under the move chemical symbol and the chemical name, so it will have more space

[2019-07-23 07:44] JacobBirk commented on #67
Ok, could you make an example on a profile?

Jacob
________________________________
Fra: Aleksandr Shumilov <notifications@github.com>
Sendt: Tuesday, July 23, 2019 9:02:59 AM
Til: sashuk/watsonc <watsonc@noreply.github.com>
Cc: Jacob Birk Jensen <jbj@watsonc.dk>; Mention <mention@noreply.github.com>
Emne: Re: [sashuk/watsonc] Opening dataview from profiles (#67)

Got it, thanks! As far as I under

[2019-07-23 08:01] sashuk commented on #67
@JacobBirk Sorry, I was meaning the measurement chemicals panel (plots are constructed from these measurements). However, should the intake colors in image A correspond to the intake square box in the profile from image B?

Image A:
![a](https://user-images.githubusercontent.com/1390758/61693581-6c7c5a80-ad62-11e9-8c04-5018b84fae59.PNG)

Image B:
![b](https://user-images.githubusercontent.com/1390

[2019-07-23 08:02] sashuk commented on #64
@mapcentia @JacobBirk Titles and translations were added in https://github.com/sashuk/watsonc/commit/c99975490fea61fbfc3d6f831f1dd4e8bcb6f22f

[2019-07-23 08:02] #64 closed

[2019-07-23 10:07] JacobBirk commented on #67
Yes exactly.  The color of the intake must correspond to the color of the circle on the image A. The question is whether there can be one or two colored on each intake.  I think we should settle for a color similar to the last measurement, unless you see another solution

Jacob
________________________________
Fra: Aleksandr Shumilov <notifications@github.com>
Sendt: Tuesday, July 23, 2019 10:01:4

[2019-07-23 14:37] JacobBirk opened #68 "Responsive Calypso"
One of the major tasks before the release of this edition of Calypso is to make calypso responsive.

[2019-07-24 07:15] sashuk commented on #68
@JacobBirk Could you please specify if there are any already existing wireframes of the design for different screens?

[2019-07-24 07:49] sashuk commented on #67
@JacobBirk Assuming that intake colors in Image A should correspond to the ones in profiles, then it means the entire UI should not use color codes and categories from `codes.compunds` table, but to use color codes from `RockSymbol_color_code.csv`?

Right now the UI requests the `codes.compunds` table and receives the categories and chemicals limits and other meta. According to received chemicals

[2019-07-24 08:03] JacobBirk commented on #68
@sashuk Not at the moment, but our UX man may produce som next week. Or you may come up with a suggestion. What do you prefer ?

[2019-07-24 08:10] JacobBirk commented on #67
@sashuk we are only talking about changes in the profile view and only the colors of the intake box shown with dark blue in image B.
Everything else in the profile should follow the specified color scheme.
Sorry for the confusion. Please ask again if the answer isn't good enough

[2019-07-24 10:54] sashuk commented on #68
@mapcentia @JacobBirk I think it would be more optimal to have a UX from an actual UI/UX specialist if it is okay.

[2019-07-24 11:15] sashuk commented on #67
@JacobBirk Thank you very much! So, the color of the intake box should be green, orange or red, just like in Image A? For displaying both latest and maximum value I propose to implement it like this (the latest value is the upper one, the maximum value is the lower one):

![coloring](https://user-images.githubusercontent.com/1390758/61789470-598f8600-ae47-11e9-9aff-92fabb7ed1f9.PNG)

[2019-07-24 14:53] JacobBirk commented on #68
Okay. And who is that? You?

Jacob
________________________________
Fra: Aleksandr Shumilov <notifications@github.com>
Sendt: Wednesday, July 24, 2019 12:54:51 PM
Til: sashuk/watsonc <watsonc@noreply.github.com>
Cc: Jacob Birk Jensen <jbj@watsonc.dk>; Mention <mention@noreply.github.com>
Emne: Re: [sashuk/watsonc] Responsive Calypso (#68)

@mapcentia<https://github.com/mapcentia> @JacobBirk<https:

[2019-07-24 14:54] JacobBirk commented on #67
Perfect. Let’s try this😉

Jacob
________________________________
Fra: Aleksandr Shumilov <notifications@github.com>
Sendt: Wednesday, July 24, 2019 1:15:19 PM
Til: sashuk/watsonc <watsonc@noreply.github.com>
Cc: Jacob Birk Jensen <jbj@watsonc.dk>; Mention <mention@noreply.github.com>
Emne: Re: [sashuk/watsonc] Opening dataview from profiles (#67)

@JacobBirk<https://github.com/JacobBirk> Thank you

[2019-07-24 15:02] sashuk commented on #67
@JacobBirk Great, I will get to Python script modification then! Thank you, however, I think it would be still good to know why the more complex system was used originally from @olemunch

[2019-07-24 15:56] JacobBirk commented on #67
As I understand the complex system from @olemunch is for laver coloring and coloring of layers for each borehole.  The only adjustments I suggest is for the coloring of the intake boxes. Agree?

[2019-07-24 15:58] sashuk commented on #67
Sure!

On Wed, 24 Jul 2019 at 23:56, JacobBirk <notifications@github.com> wrote:

--
________________

Aleksandr Shumilov

Tel: 79501017750
Skype: sashuk-morehod
Email: alexshumilov@yahoo.com
Web-site: https://alexshumilov.ru

[2019-07-26 05:22] olemunch commented on #67
Hi @sashuk
I'm back from vecation :-)

If I can help clarify details in the profile tool let me know.

[2019-07-26 07:12] olemunch opened #69 "Custom designed graphs"
Hi @sashuk
In some cases we would like to create special graphs which are not just standard timeseries
At the moment all graph data has the form:
{"unit": "m DVR90", "title": "Vandstand", "intakes": [1.0], "boreholeno": "SofiendalEnge3", "measurements": [[0.0, 0.0, 0.0 etc...

We would like to add a possibility in some cases to replace this standard form with a more customized  form.  Therefore a

[2019-07-26 08:34] sashuk commented on #67
@olemunch Hello, Ole! Great, thank you!

[2019-07-26 08:51] sashuk commented on #69
@olemunch What if to implement this just as in the example that you have provided? Calypso is able to distinguish the regular or complex data format, so if the measurement has the non-empty `precipitation` value, then three additional graphs will be displayed, activated/deactivated via plot legend.

[2019-07-26 09:22] olemunch commented on #69
Hi Alaxsandr
@sashuk
I'm not sure what you're asking?
We might replace data in the watlevmsl column with the complex structure so I guess its not enough to check if it's non-empty. Also data in the precipitation column could follow the regular data format.

But if you can see a way through just make a test/demo

[2019-07-26 10:03] sashuk commented on #69
@olemunch Alright, I will start on it and propose the solution along the way then!

[2019-07-26 11:26] sashuk commented on #67
@olemunch Could you please specify where the color of the intake bars is defined? I've changed the https://github.com/WatsonC-hub/profil/blob/master/profiletool_kemi_v5.py#L542, so the three gradation colors correspond to the colors that are used in the UI (as was discussed before - the colors in intake bars of the profile should correspond to the ones in the UI). However, some of the intake bars

[2019-07-26 11:49] WatsonC-hub commented on #67
Hi @sashuk
Firstly I did not create this par of the code - but your right that is the correct place.

I think I know what the problem is. At the moment we draw layers and boreholes on two different axis to avoid a problem in plotly with colors being blended with each other. Nnow I think the color of the screen (intake bar) i beeing affectted by the color  on the borehole behind.

One solution coul

[2019-07-26 12:17] sashuk commented on #67
@WatsonC-hub @olemunch The test was performed, seems like colors stayed the same:

![colors2](https://user-images.githubusercontent.com/1390758/61950360-2d5b3d00-afe0-11e9-89b0-d6ad6db9f207.gif)

Modifications:

[code]

Could you please ask Neil then to look at it if it possible?

[2019-07-29 02:18] sashuk commented on #69
@olemunch @JacobBirk  Hello! There are a couple of questions:

1. Please consider the following image:

![data](https://user-images.githubusercontent.com/1390758/62017467-53076280-b1e9-11e9-8a46-3332c986f734.PNG)

The precipitation data has a red border, the water level has the blue border. Could you please specify if the precipitation custom graphs should go along with the water level data (the `

[2019-07-29 03:30] sashuk commented on #69
@olemunch @JacobBirk The progress so far:

![customgraphs](https://user-images.githubusercontent.com/1390758/62020120-3b81a700-b1f4-11e9-8221-e55f2c658681.gif)

[2019-07-29 04:14] sashuk commented on #66
@JacobBirk Could you please specify the URL of the landing page?

[2019-07-29 04:20] WatsonC-hub commented on #69
@sashuk
1) should be a separate measurement that has its own drag-and-droppable control in the measurements list - yes

2) Yes that is possible in the future. We could add a certain unique element to the json structure or you could perhaps just test if the structure contain a layout element to determine if its a "regular" or "custom" graph

3) yes, unless that gives some problems?

4) not sure I u

[2019-07-29 05:00] sashuk commented on #69
@WatsonC-hub Thanks!

1. Done
2. What if to make `precipitation` to have a regular data format, like other measurements?

For example, `watlevmsl` has the following structure:

[code]

The `precipitation` has the following format:
[code]
What if to unify the data format? So, `precipitation` will look like this:

[code]

So, whenever the measurement will not have the "measurements" and "timeOfMeasu

[2019-07-29 05:20] WatsonC-hub commented on #69
2. Yes we can do that - good idea
4. Not relevant for precipitation, but yes for other future data - so datastructure proposed in (2) is a good idea.
5. Yes it should be possible. Its not relevant for precipitation though.

[2019-07-29 05:34] sashuk commented on #69
@WatsonC-hub Great, thanks! Looking forward to the change in data format.

Concerning the conflicting y-axis issues - could you please specify what is wrong with the provided HTML example (the `.txt` file in the message above)?

[2019-07-29 06:18] olemunch commented on #69
@sashuk now im signed in as olemunch again...

in the example this is the case
  yaxis2:{
    showgrid: false,
    overlaying:'y',
    side:'right',
	range:[0,100]
    }
But for the monthly precipitation we need range:[0,200] on the y2 axis
So if we first add daily precipitation an then monthly the range:[0,100] should be changed to range:[0,200] or whatever is defined in the Trace "monthly"

[2019-07-29 06:33] olemunch commented on #67
@sashuk
Could you please try to draw an example profile from the input below.
When we draw this all colors are correct.  It seems in the example above, that colors of layers are ok, but all colors on borehole and intake are wrong (random).

json_str = '{"coordinates": [[565977, 6372779], [567447, 6370030]], "DGU_nr": [" 6. 37A", " 6. 37B","  6.   64B", "  6.  413", "  6.   64A", "  6.  414", "  6.

[2019-07-29 06:54] sashuk commented on #69
@olemunch Got it, thanks! However, what if to detect the maximum range among all graphs (`daily`, `weekly` and `monthly`) and to use it? Or it is essential to have a maximum range value depending on enabled graphs (for example, when comparing `daily` and `weekly` probably there is no need in the bigger range that is used for the `monthly` graph).

[2019-07-29 07:03] olemunch commented on #69
@sashuk
Detecting max range is smart however for other settings we need to just overwrite. So you can make a special case for the range if its easily done

[2019-07-29 07:20] sashuk commented on #67
@olemunch Tried to use the provided string as an input  for the `profile` script, the result:

![graph](https://user-images.githubusercontent.com/1390758/62029061-57954080-b214-11e9-8a93-b25caed221cc.gif)

[2019-07-29 07:32] sashuk commented on #69
@olemunch Got it, then the range will be set as the `[0, MAX_RANGE]`. However, when we are talking about other settings, does it mean that layout for custom graphs (with max range) should overwrite the layout for regular measurements as well?

[2019-07-29 08:14] olemunch commented on #69
@sashuk
I think it should rather be [MIN_RANGE, MAX_RANGE]

yes it will will in principle be possible to overwrite settings used by any Trace on the graph. But we will not introduce a fixed range[] on y-axis 1 so normal graphs should not be afftected.

[2019-07-29 08:40] olemunch commented on #67
@sashuk
You dont get any boreholeinformation - do you have access to the CALYPSO database?

I get this (rename to html)
[Layout CALYPSO profiles v5 kemi.txt](https://github.com/sashuk/watsonc/files/3441045/Layout.CALYPSO.profiles.v5.kemi.txt)

![newplot (14)](https://user-images.githubusercontent.com/51031638/62033708-d24a6580-b1ec-11e9-915c-02c50f2769cb.png)

There is a pg connection string in th

[2019-07-29 08:55] sashuk commented on #67
@olemunch I have the exact copy of `profiletool_kemi_v5.py`, and it calls the `psycopg2.connect(dbname="jupiter", user="gc2", password="***********", host="watsonc.mapcentia.com")` on line 397, but it seems like it does not have an access to boreholes indeed! Yes, I've ran the
[code]

and it returned the exact same profile as before (without boreholes). So, somehow the script needs to have access

[2019-07-29 09:07] sashuk commented on #69
@olemunch Sure, the `[MIN_RANGE, MAX_RANGE]` was implemented in https://github.com/sashuk/watsonc/commit/83ce2764b88992742d86da1bf86c921e11d47fe5 along with the support for the custom graphs (the layout settings are only applied for custom graphs).

However, could you please specify if the `precipitation` will have unified with other chemicals data format soon?

[2019-07-29 09:31] olemunch commented on #67
@sashuk
What does it mean to run the tool as regular? It clearly does not use the correct input and draws a completely different profile?

@mapcentia  will know how the program gets access to the database.
I'm not sure how to get any further with this at the moment

[2019-07-29 09:36] olemunch commented on #69
within a few hours I will get to it

[2019-07-29 09:44] sashuk commented on #67
@olemunch The regular means not using the `json_str` as an input, but building the profile by myself using existing tools - the profile is created and has boreholes in it, so there is access to the boreholes data:

![profile](https://user-images.githubusercontent.com/1390758/62038285-0a22ce80-b228-11e9-94a9-863d7c5d2406.gif)

However, the script can not access data when it is called with the provi

[2019-07-29 09:45] sashuk commented on #69
@olemunch Great, thanks!

[2019-07-29 10:34] olemunch commented on #69
@sashuk
New data available in sensordata_with_correction - I adjusted it manually, hope there is no errors - let me know :-)
Only daily and monthly data is know in the example

[2019-07-29 10:43] olemunch commented on #67
@sashuk
Ok - so its  exactly the same script?
Perhaps its not relevant but if you send me the json input that was generated in your "regular" test I could try to run it from here.

[2019-07-29 11:07] sashuk commented on #67
@olemunch Sure! The `inputJSON` in my case:

`{"coordinates":[[547037.7528058332,6318983.168985754],[546807.2087636922,6316532.403667847],[545728.8328974872,6318855.314661024]],"DGU_nr":[" 34.  167"," 34. 2733"," 34.  398"," 34. 1223"," 34. 1224"," 34. 1225"," 34. 1410"," 34. 2324"," 34. 2683"," 34. 3591"," 34. 3679"," 34. 3680"," 34. 4090"," 34.   65"," 34.  768"],"Profile_depth":-100,"Compound":

[2019-07-29 14:22] JacobBirk commented on #66
Calypso.watsonc.dk

Jacob
________________________________
Fra: Aleksandr Shumilov <notifications@github.com>
Sendt: Monday, July 29, 2019 6:14:32 AM
Til: sashuk/watsonc <watsonc@noreply.github.com>
Cc: Jacob Birk Jensen <jbj@watsonc.dk>; Mention <mention@noreply.github.com>
Emne: Re: [sashuk/watsonc] Sharing projects (#66)

@JacobBirk<https://github.com/JacobBirk> Could you please specify the URL

[2019-07-30 03:58] sashuk commented on #69
@olemunch Thank you very much! Seems correct, now measurements have the same data format and every measurement is checked for being **custom graph**.

@mapcentia @olemunch Implemented in https://github.com/sashuk/watsonc/commit/76145c29b5c9d59831abff744fcfc56d1e7b7680

Demo:
![grpahs](https://user-images.githubusercontent.com/1390758/62099611-3dfe0280-b2c1-11e9-917e-c307d2b363cb.gif)

[2019-07-30 04:39] sashuk commented on #67
@olemunch Hello, Ole! I was experimenting and noticed a strange thing - when I use HEX color (not `rgb(255,60,60)`), coloring works correctly. Could you please specify if you have noticed something like this before?

![elements](https://user-images.githubusercontent.com/1390758/62101891-933e1200-b2c9-11e9-8406-0b7a42eb8f77.gif)

[2019-07-30 04:40] olemunch commented on #69
@sashuk
Hi, one correction

I did want 2 dragable objects insted of just "PRECIPITATION"
st_restrup1: daglignedbør
st_restrup1: månedlig nedbør

From previous question 1:
it should be a separate measurement that has its own drag-and-droppable control in the measurements list - yes

[2019-07-30 04:44] sashuk commented on #69
@olemunch Got it, reopening the issue (so, if `st_restrup1: daglignedbør` is added to the plot, the `st_restrup1: månedlig nedbør` will not be added automatically) in order to implement processing `daily/weekly/monthly` graphs separately.

[2019-07-30 04:47] olemunch commented on #69
@sashuk
a general graph issue:
-Why does the second y-axis not show on the graph? It should be resized to fit the frame
-the "showgrid": "false" parameter in the layout should make gridlines invisible for y-axis2

[2019-07-30 04:57] olemunch commented on #67
No i haven't tried that.
Interessting :-)

according to https://plot.ly/javascript/line-charts/ the syntax for rgb coloring is:
color: 'rgb(128, 0, 128)'

Is there something with the quotes ' '  that does not match the output from the script?

Otherwise we can change everything to HEX notification if that solves the problem

[2019-07-30 05:06] sashuk commented on #67
@olemunch If following code is put in https://github.com/WatsonC-hub/profil/blob/master/profiletool_kemi_v5.py#L542 till 548 line:

[code]

Then the bar coloring works (quotes are kept the same).

I propose to replace color notation only in this place, as normally it should not depend on the color notation at all, so I am moving to show **both** maximum and the latest value in the bar (modifying t

[2019-07-30 05:25] olemunch commented on #67
@sashuk
I'm affraid the coloring of boreholes is a problem also. The rgb notation is used many places in the script.
Lets get back to this in another issue if its still a problem - great if you move on.

[2019-07-30 05:41] sashuk opened #70 "Boreholes coloring"
Please refer to https://github.com/sashuk/watsonc/issues/67#issuecomment-516267483

A possible fix is to replace the RGB color notation to the HEX one (https://github.com/sashuk/watsonc/issues/67#issuecomment-516263393)

[2019-07-30 05:41] sashuk commented on #67
@olemunch Got it! The issue with coloring was created: https://github.com/sashuk/watsonc/issues/70

[2019-07-30 05:46] sashuk commented on #69
@olemunch The general issues were fixed in https://github.com/sashuk/watsonc/commit/1045ae5390464cb180f12c1b18b820d6c68c17b6

Demo:
![legend](https://user-images.githubusercontent.com/1390758/62103863-588ba800-b2d0-11e9-85c5-b15a40557854.gif)

Getting to the splitting of `precipitation` measurement.

[2019-07-30 05:58] olemunch commented on #67
@sashuk
great!

[2019-07-30 06:08] olemunch commented on #69
@sashuk
Wonder why the x-axis labels (Apr2019, May2019...) do not show up before you turn of the monthly graph?
Otherwise that looks GREAT!

[2019-07-30 06:40] sashuk commented on #69
@olemunch Thank you very much for noticing! This is a known issue (actually the legend is positioned wrong after resize; after it is redrawn it is shown correctly): https://github.com/plotly/plotly.js/issues/1199, I will try to find the workaround for it.

[2019-07-30 08:34] sashuk commented on #69
@olemunch Legend positioning was fixed in https://github.com/sashuk/watsonc/commit/5420d416b92d0f3845f81dd73ba69fdd98a15128

Demo:
![legend](https://user-images.githubusercontent.com/1390758/62113772-c5f70300-b2e7-11e9-9dfe-d2f57e929998.gif)

Resuming the splitting of custom graph measurements.

[2019-07-30 09:59] sashuk commented on #69
@mapcentia @olemunch Splitting of custom graphs on separate measurements was implemented in https://github.com/sashuk/watsonc/commit/fa89bc701f44616a5619fa39bc6f076f929a5302

Demo:
![split](https://user-images.githubusercontent.com/1390758/62120201-b8e01100-b2f3-11e9-8142-e132facddae7.gif)

[2019-07-30 09:59] #69 closed

[2019-07-30 10:01] sashuk commented on #70
@olemunch Could you please specify if I should replace all the RGB colors with the HEX ones in the profile script?

[2019-07-30 10:13] olemunch commented on #70
@sashuk
yes if thats farly easily done and if we believe that will fix color issues
lets try it

[2019-07-30 10:24] sashuk commented on #70
@olemunch Got it, thanks!

[2019-08-01 07:16] sashuk commented on #70
@olemunch Could you please specify any example borehole and chemical where the wrong coloring can be observed?

[2019-08-01 08:44] sashuk commented on #67
@mapcentia @olemunch @JacobBirk Implemented in https://github.com/WatsonC-hub/profil/commit/21a2287e51da77379636f386e45cbdb0dc6d1f22 (`profil` script was modified)

Demo:
![colors](https://user-images.githubusercontent.com/1390758/62278926-a395ee80-b47b-11e9-8ea4-b4b7bcd9aaf4.gif)

[2019-08-01 08:44] #67 closed

[2019-08-01 09:39] sashuk commented on #66
@JacobBirk Thank you! Could you please specify if the `calypso.watsonc.dk` uses the same user database as the Vidi? Am I correct that the process should look like this:

1. User authenticates at the `calypso.watsonc.dk`;
2. The user is redirected to the Vidi app;
3. When the Vidi is started, the previously established session is taken into account and Vidi starts already been logged in (so, having

[2019-08-01 13:44] olemunch commented on #70
I dont think i can create a graph where the colors are wrong. It seems to work out fine when I run the script. But in these examples they seem wrong (not 100% sure)

https://user-images.githubusercontent.com/1390758/61948724-34cc1780-afdb-11e9-879f-01ff43e2ec00.gif

https://user-images.githubusercontent.com/1390758/61950360-2d5b3d00-afe0-11e9-89b0-d6ad6db9f207.gif

https://user-images.githubuserco

[2019-08-02 05:48] sashuk commented on #70
@olemunch

**Experiment:** the following was performed (analyzing single borehole):

1. Generate the profile with the regular `RockSymbol_color_code.csv` - the specific borehole has the `campanien-maastrichtien skrivekridt`, which has the `rgb(128, 255, 153)` color. The built profile is the upper one in the demo below;

2. Replace the `rgb(128, 255, 153)` with the equivalent HEX value `#80ff99` in

[2019-08-02 07:09] olemunch commented on #70
@sashuk
Well if HEX code solves the problem let's change everything. Will you change in the .CSV file or will you convert to hex inside the script?

There is a small issue with the text label where '(' is displayed as %28 and ')' is displayed as %29. why?

[2019-08-02 07:11] sashuk commented on #70
@olemunch Sure, I will check the `()` issues as well. I think the `rgb2hex()` will be more optimal, than replacing all the occurrences - going to commit it soon!

[2019-08-02 07:13] olemunch commented on #70
@sashuk
Great!

When do you think Martin will commit to the test version for us to try it out? Can you do that?

[2019-08-02 07:41] sashuk commented on #70
@olemunch Seems like Plotly does not allow parentheses in the hover text (only specific HTML tags), is it okay to drop them?

![hover](https://user-images.githubusercontent.com/1390758/62352901-e4edd300-b53b-11e9-9c87-4c6ffbd20960.gif)

I think Martin will be back in a couple of days or next week. I will check if I have access to the server.

[2019-08-02 07:48] olemunch commented on #70
@sashuk
Yes, perfekt...
but strange - here it's no problem

From Javascript...
"text": "-12.1(bund, kote)<br>ds, glacial smeltevandssand"

![image](https://user-images.githubusercontent.com/51031638/62353270-91af5c80-b50a-11e9-85c7-c1cc0a55a803.png)

[2019-08-02 08:04] JacobBirk commented on #66
Yes, same user data base.
I think that the proces is like you describe.
Webhouse (who is controling the user DB) has to make changes so the vidi app is called with projekt info. Please discuss how to handle this with Martin

Jacob
________________________________
Fra: Aleksandr Shumilov <notifications@github.com>
Sendt: Thursday, August 1, 2019 11:39:05 AM
Til: sashuk/watsonc <watsonc@noreply.gith

[2019-08-02 08:34] sashuk commented on #70
@olemunch Seems like this is the reason why colors are not working as well - something with the way parentheses are processed, investigating.

[2019-08-02 08:42] olemunch commented on #70
@sashuk
That makes sense! If you can figure out why that's perfekt. Otherwise it should be possible to avoid using parentheses

[2019-08-02 09:18] sashuk commented on #70
@olemunch The problem was found, the JavaScript code was not processing data correctly. The coloring and splitting of every intake bar into `max`  and `latest` sub bars was added.

I've checked the access, now I can not access the watsonc.mapcentia.com with credentials that I have. However, you can check the latest version via [:link: development Calypso version](https://vidi.alexshumilov.ru/app/j

[2019-08-02 09:18] #70 closed

[2019-08-02 09:18] sashuk commented on #66
@JacobBirk Got it, thanks!

[2019-08-06 21:04] mapcentia commented on #51
@sashuk For me the profile API requests hangs and results in a 502. Test site: https://map.calypso.watsonc.dk

[2019-08-07 00:44] sashuk commented on #51
@mapcentia Following was performed:
- the latest `dockerfiles_custom/watsonc/vidi` was checked out;
- `docker build -t calypso .`;
- `docker run -d -p 3010:3000 calypso`;
- profiles are generated.

![profile](https://user-images.githubusercontent.com/1390758/62586178-1aedd700-b8ef-11e9-8b65-d76e03a0106c.PNG)

Could you please check if the Calypso has the latest version? Seems like the https://map.

[2019-08-07 13:22] mapcentia commented on #51
@sashuk I got it to work - sort of. It's was about the db connection from within the Docker Swarm. But I sometimes gets:
`message: "Traceback (most recent call last):↵  File "/root/vidi/extensions/watsonc/scripts/profil/profiletool_kemi_v5.py", line 653, in <module>↵    profiletool_v5(json_str)↵  File "/root/vidi/extensions/watsonc/scripts/profil/profiletool_kemi_v5.py", line 376, in profiletool_v

[2019-08-07 13:36] sashuk commented on #51
@mapcentia Seems like this should be fixed in `profil` first. There is a latest commit in https://github.com/WatsonC-hub/profil/commit/3a753fc44c605ff64a98d35115721848aec19b9d, which actually partially fixes the issue (the `y_max` is assigned now before it is used), but does not fix it in https://github.com/mapcentia/dockerfiles_custom/blob/master/watsonc/vidi/profil/profiletool_kemi_v5.py#L376.

[2019-08-07 14:16] sashuk commented on #51
@mapcentia Vidi is now not crashing when Python scrips error, please see the https://github.com/sashuk/watsonc/commit/f0c5a3befe4dd6acd51bad44d2315f69cadfec4a. Could you please try to build the image and if everything is good we could close the issue?

[2019-08-07 19:01] olemunch opened #71 "Labels and legend text"
@sashuk @mapcentia
testing https://watsonc.vidi.gc2.io/app/jupiter/chemicals,sensor/#geodk.bright/7/9.4482/56.069/

1) Labels on sensordata when "mouse over": "DGU nr." should be removed. "Sønderbro3" is perfekt.
The text "Sønderbo3" comes from the "boreholeno" in the JSON-object. The same text should also be used in the data-menu insted of "302", also when the item is dragged to the graph- see sc

[2019-08-07 19:09] olemunch opened #72 "Sensordata not visible before zooming in to very small area"
@sashuk
@mapcentia
testing https://watsonc.vidi.gc2.io/app/jupiter/chemicals,sensor/#geodk.bright/7/9.4482/56.069/

Sensordata are not visible before zooming into a very little area.

In the url "sensordata_without_correction" occour, but this table does not exist anymore. Only sensordata_with_correction" contain the locations with sensordata to be shown. Is that related to this problem?

[2019-08-07 19:13] olemunch opened #73 "Turn borehole on/off"
We need jupiter boreholes (or any other layer) to be completely turned off when they are not selected in the "Datakilder og -typer"

[2019-08-07 19:21] olemunch opened #74 "profile tool adjustments"
@sashuk
@mapcentia
I'm stil not able to run the profile tool from the testsite

But:
It should be possible to draw a profile whithout choosing a chemical or a geological layer or other data (FOHM , potentialekort)

In that case the script will just return a plot with boreholes

[2019-08-07 19:25] olemunch opened #75 "Responsive, mobile version"
@sashuk
@mapcentia
Kristian made this to illustrate how we would like CALYPSO to behave on a small screen
https://xd.adobe.com/view/57c14fef-d25d-4a9b-722f-2087fdff24e8-21f0/
Please let us know if this is usefull for you

[2019-08-07 19:26] #75 closed

[2019-08-07 19:26] olemunch commented on #75
not a new issue, sorry

[2019-08-07 19:27] olemunch commented on #68
@sashuk
@mapcentia
Kristian made this to illustrate how we would like CALYPSO to behave on a small screen
https://xd.adobe.com/view/57c14fef-d25d-4a9b-722f-2087fdff24e8-21f0/
Please let us know if this is usefull for you

[2019-08-12 09:20] sashuk commented on #74
@mapcentia @olemunch Implemented in https://github.com/sashuk/watsonc/commit/f3f8fa2e75c0a2ffdf908fedc24e0cd994acb29a.

@mapcentia please note that the Watsonc Docker image should be rebuilt with the new `profil` Python script (https://github.com/mapcentia/dockerfiles_custom/commit/68f2a3f79d052695b5bc5ffa7367af0a601257c8).

Demo:
![parameters](https://user-images.githubusercontent.com/1390758/628

[2019-08-12 09:20] #74 closed

[2019-08-12 10:37] sashuk commented on #71
@olemunch @mapcentia  Could you please clarify concerning the **(1)**? The title of the measurement modal (pic. 2) is already taken from the actual `boreholeno` field, as you can see on the screenshot of the data, which has the value `302` - could you please check if the backend is actually sending the correct `boreholeno` field?

Data:
![test](https://user-images.githubusercontent.com/1390758/628

[2019-08-12 10:48] sashuk commented on #73
@olemunch So, no gray or blue dots should appear on the map as well (the underlying raster layers that show up on all zoom levels)?

[2019-08-12 10:58] ksnwatsonc commented on #68
@sashuk @mapcentia In the startup wizard, the two options should be stacked on top of each other. If the user wants to start a new project, the two steps are split into two screens as seen below. If the user wants to open an existing project, it should look like in the desktop version, but more narrow of course.
![iPhone 5-SE – 1](https://user-images.githubusercontent.com/50231643/62860046-46adfa0

[2019-08-12 11:23] ksnwatsonc commented on #68
@sashuk @mapcentia The screen below shows how we imagine the view after you get past the startup wizard. In the top left corner you can tap "Søg…" to open the search bar. This can be closed again by tapping the "X" that appears in the search bar.

In the top right corner, a tap on the burger menu will open the right side menu. The overview will fill out most of the screen. If the user chooses one

[2019-08-12 11:24] JacobBirk opened #76 "Wrong coloring of symbols"
@sashuk
It seems like max and senest (latest) has been switched
![image](https://user-images.githubusercontent.com/50234893/62861555-259bd800-bd04-11e9-8866-d0f2c6ad9995.png)

[2019-08-12 11:37] olemunch commented on #71
@sashuk
Inside the watlevmsl there is also a "boreholeno" which I should have specified. We would like to use the text there instead.

In this example boreholeno = "Seges"

![image](https://user-images.githubusercontent.com/51031638/62862474-30576c80-bd06-11e9-942a-6a0a00340835.png)

[2019-08-12 11:43] sashuk commented on #71
@olemunch Thank a lot!

[2019-08-12 11:54] JacobBirk opened #77 "Load of symbols"
Nitrate is selected and adress search is performed, but colored symbols isn’t showed
![image](https://user-images.githubusercontent.com/50234893/62863192-6695eb80-bd08-11e9-8406-97ecd6b6f609.png)

Ole wonder if Calypso is loading an outdated view

Seems like loading process fails
![image](https://user-images.githubusercontent.com/50234893/62863207-70b7ea00-bd08-11e9-8bcc-a708399f293c.png)

[2019-08-12 11:55] JacobBirk opened #78 "Map Icons"
Adjust the location of icon so they don’t overlap
![image](https://user-images.githubusercontent.com/50234893/62863373-e2903380-bd08-11e9-80f7-b4e6f49215fe.png)

[2019-08-12 11:57] JacobBirk opened #79 "Rightside menu does not stick to right side"
Sometimes the rightside menu “jumps” to the left side of the screen. Nothing can be clicked on in the left side, but instead you have to guess where the buttons are supposed to be in the, now, blank right side to use the functions. Tested in Microsoft Edge.

[2019-08-12 12:29] JacobBirk opened #80 "Boxes overlap each other in startup-wizard"
The two clickable boxes under “Grundvand” overlap eachother. If you click in the bottom half of the box on top, the box below is chosen. The grey circle on the picture below marks the clickable area.
![image](https://user-images.githubusercontent.com/50234893/62864854-25540a80-bd0d-11e9-8a27-15f3fccc1b4b.png)

[2019-08-12 12:31] JacobBirk opened #81 "changes to data-window"
During our user test we found that the drag-and-drop function was not obviuos for everybody. Therefore we would like a few changes to this window. On the typable line to the right, “Ny titel” should be changed to “Opret ny”. The save icon next to it should be changed to a plus symbol.
The text “No time series created yet” should be translated to danish, “Ingen tabeller oprettet”.
Below, a help tex

[2019-08-12 12:32] JacobBirk opened #82 "Removing Plotly graphs from dashboards"
The “Slet” button completly deletes the graph from your profile. Instead the button should be renamed to “Fjern” and a click on the button will remove the graph from the dashboard, but keep it on the users list of created timeseries/profiles.
![image](https://user-images.githubusercontent.com/50234893/62865153-f38f7380-bd0d-11e9-8abb-fabc5d2fbcaf.png)

[2019-08-12 12:35] JacobBirk opened #83 "Burgermenu open and close button dissapear"
When I click on a lot of different things (to try and stress the performance) the Burgermenu-button and the close button dissapears. Example below: Menu is closed and no burgermenu-button = Impossible to open the rightside-menu.
![image](https://user-images.githubusercontent.com/50234893/62865211-26d20280-bd0e-11e9-825b-9182fbd8cfa2.png)

[2019-08-12 12:36] JacobBirk opened #84 "Row versus Matrix view"
In the dashboard the chosen viewmode (row or matrix) is currently marked with a white button, while the non-chosen is marked with green. This should be the opposite, so that the green button marks the chosen view.
![image](https://user-images.githubusercontent.com/50234893/62865333-7ca6aa80-bd0e-11e9-82e6-beb75deb5209.png)

[2019-08-12 12:37] sashuk commented on #71
@mapcentia @olemunch Implemented in https://github.com/sashuk/watsonc/commit/c3054c926baf50991785bdfa3e2d9325205494b0

Demo:
![titles](https://user-images.githubusercontent.com/1390758/62865403-02434e00-bd41-11e9-8870-08b2802e00fd.gif)

[2019-08-12 12:37] #71 closed

[2019-08-12 12:43] sashuk commented on #84
@JacobBirk Two buttons are drawn in accordance with the material design concepts (https://material.io/design/interaction/states.html#disabled), which means that we can not click the Matrix view, for example, when it is already active - so, the button for the Matrix view should be **disabled**, which prevents a user from clicking it. Should this design concept be broken anyway?

Demo:
![viewmode](h

[2019-08-12 13:28] sashuk commented on #76
@mapcentia @JacobBirk Fixed in https://github.com/sashuk/watsonc/commit/359758055b5b93b4fea57485313a9fbc852e3daa

Demo:
![coloring](https://user-images.githubusercontent.com/1390758/62868406-2c4c3e80-bd48-11e9-895f-e96c600f3bbc.gif)

[2019-08-12 13:28] #76 closed

[2019-08-12 14:15] JacobBirk commented on #76
Thanks.
Really sorry that you can't work for Martin anymore. You have made a really good job

[2019-08-13 03:52] sashuk commented on #76
@JacobBirk Thank you very much!

[2019-08-13 04:40] sashuk commented on #81
@mapcentia @JacobBirk Implemented in https://github.com/sashuk/watsonc/commit/a41c69997d17c230625fc46dc63e23607a24dd14

Demo:
![data](https://user-images.githubusercontent.com/1390758/62915584-91934480-bdc7-11e9-885e-6b3856a24a2b.gif)

[2019-08-13 04:40] #81 closed

[2019-08-13 04:50] sashuk commented on #79
@JacobBirk Could you please specify what are the steps to reproduce the error? I've tried to click features, open / close the panels, load different layers, open / close Dashboard and Feature modal windows in the Microsoft Edge `Version 77.0.235.5`, but still could not recreate the error.

[2019-08-13 05:24] sashuk commented on #82
@mapcentia @JacobBirk Implemented in https://github.com/sashuk/watsonc/commit/158758e8789e0520fc70e7793365a1fc5ef782eb

Demo:
![removing](https://user-images.githubusercontent.com/1390758/62917117-978c2400-bdcd-11e9-8811-db6af32d4c27.gif)

[2019-08-13 05:24] #82 closed

[2019-08-13 05:45] JacobBirk commented on #84
@sashuk Ok. Not a big issue. Just seems non-intuitive that the chosen option is faded

[2019-08-13 05:55] sashuk commented on #84
@JacobBirk Maybe just to make the faded button to have a black font color to make it more readable then?

Demo:
![color](https://user-images.githubusercontent.com/1390758/62918343-ef2c8e80-bdd1-11e9-9b78-77941dfed24a.gif)

[2019-08-13 05:59] sashuk commented on #77
@JacobBirk Could you please specify what behaviour is expected? I've performed the following steps:

1. Selected the layer and chemical in the startup windows;
2. Searched for the address;
3. The address search has shown the result, symbols with chemical indication were kept, so symbols are shown.

Demo:
![layer](https://user-images.githubusercontent.com/1390758/62918569-90b3e000-bdd2-11e9-9eaa-73

[2019-08-13 06:08] sashuk commented on #78
@mapcentia @JacobBirk Fixed in https://github.com/sashuk/watsonc/commit/73923cdcf9f6db019eb96f4d862f8b9cbecf42e6

Demo:
![scale](https://user-images.githubusercontent.com/1390758/62918931-bf7e8600-bdd3-11e9-8048-c83b836b470c.gif)

[2019-08-13 06:08] #78 closed

[2019-08-13 06:37] JacobBirk commented on #84
Better 🙂
________________________________
Fra: Aleksandr Shumilov <notifications@github.com>
Sendt: 13. august 2019 07:55
Til: sashuk/watsonc <watsonc@noreply.github.com>
Cc: Jacob Birk Jensen <jbj@watsonc.dk>; Mention <mention@noreply.github.com>
Emne: Re: [sashuk/watsonc] Row versus Matrix view (#84)

@JacobBirk<https://github.com/JacobBirk> Maybe just to make the faded button to have a black fo

[2019-08-13 06:43] JacobBirk commented on #77
I selected layer and chemical at DK zoom level and made the adress search. Here I would expect synbols with chemical info, but I just got gray symbold

[2019-08-13 06:46] sashuk commented on #84
@mapcentia @JacobBirk Implemented in https://github.com/sashuk/watsonc/commit/7395d627d39c827bebc4b2bed8f03cf4009080d8

[2019-08-13 06:46] #84 closed

[2019-08-13 08:06] sashuk commented on #83
@mapcentia @JacobBirk Fixed in https://github.com/sashuk/watsonc/commit/8e2e194f994b75a7d11eee79b4ae438d76b59f8e

Demo:
![switching](https://user-images.githubusercontent.com/1390758/62925102-2c018100-bde4-11e9-8a52-df92584c58a1.gif)

[2019-08-13 08:06] #83 closed

[2019-08-13 08:34] mapcentia opened #85 "Switch on/off of GEUS should be done other wise"

[2019-08-13 09:07] mapcentia opened #86 "Calypso boreholes should always be shown as vector"

[2019-08-13 09:57] olemunch opened #87 "Profile tool, top margin?"
@sashuk
The margin of the profile graphs behaves stangly. In a small window the profile almost disapears because of the large top and bottom-margin.
The script does not set a margin as far as I can see. Can you figure out why and fix it?

![image](https://user-images.githubusercontent.com/51031638/62932956-77eefe80-bdc1-11e9-99c9-3396a188b24c.png)

[2019-08-13 12:38] JacobBirk opened #88 "Katergorier - stoffer"
@mapcentia Stofnavne i "vælg datatype" menuen skal hentes fra Jupiter

![image](https://user-images.githubusercontent.com/50234893/62942025-b4c5f000-bdd7-11e9-9a0f-50b63d191e5c.png)

Stoffer skal kategoriseres efter compond nr i datamenuen

![image](https://user-images.githubusercontent.com/50234893/62942119-f191e700-bdd7-11e9-8eaf-11cfc98f647e.png)

[2019-08-13 12:42] JacobBirk opened #89 "Assign geological profiles to user profile"
@sashuk
Profiles should (like timeseries) be stored on user profiles and not be "global"

[2019-08-13 12:50] JacobBirk opened #90 "Add scroll bar to datamenu"
@sashuk We would like two scroll bars: one for the "Data serier"  and one for "Tidsserier"
. It would make drag&drop easy for items in the bottom of the "data serier"
![image](https://user-images.githubusercontent.com/50234893/62942531-c78cf480-bdd8-11e9-9d69-8bd984de2a6b.png)

[2019-08-13 12:59] WatsonC-hub opened #91 "Disable "Water level / Vandstand" from profile menu"
@sashuk
The profile tool is not able to show water level data. We suggest a quick-fix where we remove "Vandstand" from the menu "Valgt datatype"

Alternatively an empty string "" should be given as input to the compound value send to the script,
"Compound":"" - which will prevent the error code 400 and draw a profile without chemicals

[2019-08-13 13:13] WatsonC-hub commented on #87
@sashuk
Adding to the layout object
           margin=go.Margin(
                                l=50,
                                r=5,
                                b=45,
                                t=5,
                                pad=1
                            ),

solves the problem. Do you prefer defining margin in the script or applying same margin settings as defined in vidi

[2019-08-14 03:41] sashuk commented on #91
@mapcentia @WatsonC-hub Implemented in https://github.com/sashuk/watsonc/commit/6f0b82c734303aae5bb78fb30b7482881ad8601f

Demo:
![level](https://user-images.githubusercontent.com/1390758/62993057-7dfbe280-be88-11e9-885d-e0ddf922aea5.gif)

[2019-08-14 03:41] #91 closed

[2019-08-14 04:12] sashuk commented on #90
@mapcentia @JacobBirk Fixed in https://github.com/sashuk/watsonc/commit/d91c75dbba10bae55991b8d0c65fd9bba6a60125

Demo:
![display](https://user-images.githubusercontent.com/1390758/62994098-ca492180-be8c-11e9-84d5-fd1e2392a1d7.gif)

[2019-08-14 04:12] #90 closed

[2019-08-14 04:13] sashuk commented on #89
@JacobBirk Am I correct that users should not be able to create profiles or time series if they are not authorized?

[2019-08-14 04:23] sashuk commented on #87
@mapcentia @WatsonC-hub The layout setting was added in the JavaScript code, as the plots layout representation is defined via JavaScript code as well (keeping representation settings in the same place), implemented in https://github.com/sashuk/watsonc/commit/3b326c0da9d97de97f0a94e581eec53afc0e32bb

Demo (before and after):
![diff](https://user-images.githubusercontent.com/1390758/62994402-498b25

[2019-08-14 04:23] #87 closed

[2019-08-14 04:48] sashuk commented on #80
@mapcentia @JacobBirk Fixed in https://github.com/sashuk/watsonc/commit/838b61315638fc6c1b17c59d375fb62e7baa5a57

Demo:
![click](https://user-images.githubusercontent.com/1390758/62995101-c79cfb00-be91-11e9-9ed3-6748eec32a14.gif)

[2019-08-14 04:48] #80 closed

[2019-08-14 04:54] sashuk commented on #77
@JacobBirk As you can see in the screencast I have provided before, the chemical display for different boreholes is kept after performing the address search, so could you please specify the actual **before the address search** view of the map (the screencast will be ideal)? Maybe the chemical was selected in the `Data sources and types` menu, but was not applied before the search?

[2019-08-14 05:09] sashuk commented on #51
@mapcentia Just rebuilt and run the image again, working as expected.

[2019-08-14 05:09] #51 closed

[2019-08-14 05:15] JacobBirk commented on #89
Yes

Jacob
________________________________
Fra: Aleksandr Shumilov <notifications@github.com>
Sendt: Wednesday, August 14, 2019 6:13:44 AM
Til: sashuk/watsonc <watsonc@noreply.github.com>
Cc: Jacob Birk Jensen <jbj@watsonc.dk>; Mention <mention@noreply.github.com>
Emne: Re: [sashuk/watsonc] Assign geological profiles to user profile (#89)

@JacobBirk<https://github.com/JacobBirk> Am I correct tha

[2019-08-14 06:19] ksnwatsonc commented on #79
@sashuk It happens when I click on "Profiler" and click the checkbox at any of the listed profiles. If it has any importance I've tested in Microsoft Edge Version 42.17134.1.0.

[2019-08-14 06:37] sashuk commented on #79
@ksnwatsonc Got it, thanks!

[2019-08-14 08:47] JacobBirk commented on #77
@sashuk @mapcentia Martin think that the problem occur because the search bypasses the zoom level that activate the activation of synbols with chemicals. Does that make sense?

[2019-08-15 07:27] ksnwatsonc opened #92 "Small fix for profile-tool"
Hey @sashuk

We have done some slight changes to the profile tool menu, to make the user path more obvious.
Basically, only one step get revealed at a time. First the user types a name for the profile and clicks "Fortsæt" (continue). This opens up for the next step, where the user can make adjustment to buffer, "profilbund" and data type, and draw the profile.

When the user chooses a data type, i

[2019-08-15 07:31] ksnwatsonc opened #93 "Download button is not responding properly"
When trying to download a timeseries, nothing happens when clicking the Download button.

[2019-08-15 09:03] sashuk commented on #79
Observed on 17 and 18 versions of Microsoft Edge (online simulation via https://www.browserstack.com/test-on-microsoft-edge-browser).

Whenever the profile is enabled, the profile tab jumps, but when the Dashboard is clicked the tab is back at its original place. When the jumped tab is navigated upon in Developer Tools in the DOM tree, the browser thinks that it is still in a regular place and not

[2019-08-15 09:17] sashuk commented on #93
@ksnwatsonc Could you please specify what time series you tried to download? Chemicals or water time series seem to download correctly:

![file](https://user-images.githubusercontent.com/1390758/63085623-86374900-bf80-11e9-9a0a-2f9cadf4c4e2.gif)

[2019-08-15 10:19] ksnwatsonc commented on #93
@sashuk and @JacobBirk (who also had the issue) I have tested it again and seem to have found the problem. I have to be logged in with my user profile to be able to download it. Once I'm logged in it works fine on Chrome. I've tried the same in Edge and download doesn't work whether i'm logged in or not. Maybe a problem with the specific browser again?

[2019-08-15 10:38] sashuk commented on #92
@mapcentia @ksnwatsonc Implemented in https://github.com/sashuk/watsonc/commit/b5c2b5a10fc8e395250123b6c62ed112b64d0df6

Demo:
![profiles](https://user-images.githubusercontent.com/1390758/63089865-e8497b80-bf8b-11e9-820c-0400d6b33b6f.gif)

[2019-08-15 10:38] #92 closed

[2019-08-15 10:48] sashuk commented on #93
@ksnwatsonc So, when you are not logged in (in Chrome), time series are not downloaded?

I've checked the Firefox as well, seems like this is the issue of only the Microsoft Edge indeed.

[2019-08-15 10:53] ksnwatsonc commented on #93
@sashuk Exactly. So I don't think it's really an issue, as every user, once we release, should have their own user profile to gain access. Right, @JacobBirk ?

One more related issue. Below is an example of a project with 10 timeseries in the same graph. When I try to download it, I get an error message, _"Error occured while generating plot XSLS file"_. Can you figure out what causes this?
<img w

[2019-08-15 10:55] sashuk commented on #93
@ksnwatsonc According to https://github.com/sashuk/watsonc/issues/89, yes, every user has its own profiles!

I will check the case for heavy time series then!

[2019-08-15 11:16] sashuk commented on #77
@mapcentia @JacobBirk Thank you, that totally makes sense! Fixed in https://github.com/sashuk/watsonc/commit/bdb860ca67ca3e9a65d6f0391d5b67b98aba3025

Demo:
![zoom](https://user-images.githubusercontent.com/1390758/63091469-0a91c800-bf91-11e9-9a28-cffce6676f37.gif)

[2019-08-15 11:16] #77 closed

[2019-08-15 11:45] sashuk commented on #93
@ksnwatsonc The real reason was that Excel sheets had the same name (as several intakes from single borehole were used) which was causing the error - now it is ensured that they have unique names, fixed in https://github.com/sashuk/watsonc/commit/f5e443732c91bf4e0281e04f5b16eec5e269688e

[2019-08-15 11:45] #93 closed

[2019-08-16 05:46] sashuk commented on #72
@mapcentia Could you please specify if it is possible to create the alias for the `sensordata_with_correction` with the name `sensordata_without_correction` as it was before (actually it can be any name, it just should be different from the `sensordata_with_correction`)?

The reason is that it is not possible to display two representations of the same layer in Vidi now (which would be the vector `

[2019-08-16 06:21] WatsonC-hub commented on #72
@sashuk
Hi Alexandr
We discussed this with Martin and decided that sensordata should be loaded in the browser for all zoom levels. So if I understand your question correctly the answer is, that only one reporesentation is needed. Could you check how long time i takes to load all sensordata and let ud now if this approach is not recommended?

Alternatively perhaps I can create a view in the databas

[2019-08-16 09:18] sashuk commented on #89
@mapcentia @JacobBirk Implemented in https://github.com/sashuk/watsonc/commit/a973426381265e86f23699e68b5f6a9a201defad

Demo:
![profilesaccess](https://user-images.githubusercontent.com/1390758/63157607-e8a84c00-c049-11e9-889b-9fd604beab30.gif)

[2019-08-16 09:18] #89 closed

[2019-08-16 09:30] sashuk commented on #72
@WatsonC-hub Sure, I will check how it loads all the stations as a vector layer (if it will take too much, then creating view will be an option, for now, the `sensordata_without_correction` layer will be removed completely from codebase).

[2019-08-16 09:39] sashuk commented on #72
@WatsonC-hub Seems like it takes around 5 seconds to load all Calypso stations (the edge case), so I think it is okay to use only the vector representation.

![timing](https://user-images.githubusercontent.com/1390758/63158882-cebc3880-c04c-11e9-9b76-5d7a96751348.PNG)

[2019-08-16 09:46] JacobBirk commented on #72
Perfect :-)

[2019-08-16 09:52] sashuk commented on #72
@mapcentia @JacobBirk The `sensordata_without_correction` layer was removed from the codebase and is no longer shown, implemented in https://github.com/sashuk/watsonc/commit/ef5573c4280725de3b9eb2b3bfeb9c34a5d5aad7.

Demo:
![layer](https://user-images.githubusercontent.com/1390758/63159632-89006f80-c04e-11e9-978b-6f47745b59f3.gif)

[2019-08-16 09:52] #72 closed

[2019-08-19 11:48] JacobBirk commented on #88
@mapcentia Vi har løst problemet

[2019-08-19 11:48] #88 closed

[2019-08-19 11:51] JacobBirk opened #94 "Loading project"
Vidi melder fejl
![image](https://user-images.githubusercontent.com/50234893/63263225-4b872680-c288-11e9-98c9-825e21fdccde.png)
men loader efter lang tid siden

[2019-08-19 11:55] JacobBirk opened #95 "Skift loadsymbol"
Skift load symbol til de tre prikker der skifter plads

[2019-08-19 11:59] JacobBirk opened #96 "vælg nyt stof"
Vidi fejler når der trykkes anvend efter valg af stof